# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/
bower_components/
build/
mobilesite/
cordova/
report/
satellizer/
silex/
satellizer_demo/
.idea

*.php

# other
.tmp
