<ion-view style="background-color: #f5f5f5">
    <ion-nav-title>My track record</ion-nav-title>
	<ion-nav-buttons side="secondary">
	  	<button class="button button-icon ion-person" 
                ui-sref="app.user.profile"></button>
	</ion-nav-buttons>
    <ion-content>
        <ion-list ng-if="vm.cv.employment.length" can-swipe="true">
            <ion-item ng-if="vm.isGraduate">
                <h2>Seeing first time employment</h2>
            </ion-item>
            <div ng-repeat="employment in vm.cv.employment" ng-if="!vm.isGraduate">
                <ion-item ng-click="vm.edit(employment)">
                    <h2>{{ employment.JobTitle }} @ {{ employment.Company }}</h2>
                    <p>
                        {{ employment.StartDateD | date:'d MMM yyyy'}} &ndash; 
                        <span ng-if="!employment.EndDate">
                            <i class="icon icon-midi ion-ios-infinite" style="position: relative; top: 4px"></i>
                        </span>
                        <span ng-if="employment.EndDate">{{ employment.EndDateD | date:'d MMM yyyy' }}</span>
                    </p>
                    <ion-option-button class="button-energized"
                               ng-click="vm.edit(employment)">
                      Delete
                    </ion-option-button>
                </ion-item>
                <ion-item ng-if="vm.employment && vm.employment.EmploymentID === employment.EmploymentID"
                 ng-init="employment = vm.employment"
                 ng-include src="'app/jobs/cv/cv.employment.form.html'">
                    
                </ion-item>
            </div>
        </ion-list>

        <div class="list card">

            <div class="item" ng-if="!vm.cv.employment.length">
                <h2>STEP 4 &dash; Employment details</h2>
            </div>

            <div class="item item-icon-right" ng-click="vm.skip()"  ng-if="!vm.cv.employment.length">
                Seeking first time employment<br />Skip this step
                <i class="icon ion-chevron-right" style="right: 0"></i>
            </div>

            <ng-include src="'app/jobs/cv/cv.employment.form.html'"
            ng-if="vm.employment && !vm.employment.EmploymentID" 
            ng-init="employment = vm.employment">
                
            </ng-include>
            
            <label class="item" ng-show="!vm.employment">
                <button class="button button-small button-balanced button-clear icon-left ion-plus"
                        ng-click="vm.addItem()">
                    I also worked at?
                </button>
            </label>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.prev()">
            	<i class="icon ion-chevron-left"></i>
            	Education
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.next()">
            	Wishlist
            	<i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>