<div class="line" ng-if="employment.EmploymentID"></div>
<div class="list">
    <div class="item item-divider item-icon-right">
        <span ng-if="!employment.EmploymentID">Add</span> 
        <span ng-if="employment.EmploymentID">Edit</span> 
        employment
        <i class="icon icon-midi ion-close assertive" ng-click="vm.cancel(employment)"
        ng-if="vm.cv.employment.length"></i>
    </div>

    <label class="item item-input" ng-class="{ 'has-error' : !employment.Company && employment.$submitted }">
        <i class="icon ion-cube placeholder-icon" style="width: 24px"></i>
        <input type="text" placeholder="Company" name="Company" ng-model="employment.Company" required>
    </label>

    <label class="item item-input" ng-class="{ 'has-error' : !employment.JobTitle && employment.$submitted }">
        <i class="icon ion-person placeholder-icon" style="width: 24px"></i>
        <input type="text" placeholder="Job title" name="JobTitle" ng-model="employment.JobTitle">
    </label>

    <label class="item item-input item-select" ng-class="{ 'has-error' : !employment.Industry && employment.$submitted }">
        <div class="input-label">
            Industry
        </div>
        <select name="Industry" 
            ng-model="employment.Industry"
            ng-options="item.Description as item.Description for item in vm.lu.industryList"
            required>
            <option value="">required</option>
        </select>
    </label>

    <ion-toggle name="CurrentYN" ng-model="employment.CurrentYN">
        Currently employed here?
    </ion-toggle>

    <label class="item item-input item-stacked-label" 
    ng-class="{ 'has-error' : !employment.StartDateD && employment.$submitted }">
        <span class="input-label">From</span>
        <input type="date" name="StartDateD" ng-model="employment.StartDateD" required>
    </label>
    <label class="item item-input item-stacked-label" ng-show="!employment.CurrentYN"
    ng-class="{ 'has-error' : !employment.EndDateD && !employment.CurrentYN && employment.$submitted }">
        <span class="input-label">To</span>
        <input type="date" name="EndDateD" ng-model="employment.EndDateD">
    </label>
    <label class="item item-input item-stacked-label"
    ng-class="{ 'has-error' : !employment.Duties && employment.$submitted }">
        <span class="input-label">Job description</span>
        <textarea name="Duties" ng-model="employment.Duties" placeholder="30 words minimum"></textarea>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Job type
        </div>
        <select name="JobType" ng-model="employment.JobType">
            <option ng-value="item" ng-repeat="item in vm.lu.jobType">{{ item }}</option>
        </select>
    </label>

    <label class="item item-positive item-icon-left item-icon-right" 
        ng-click="vm.submit(employment)"
        ga-track-event="['cv', 'employment', 'save']">
            <i class="icon icon-midi ion-edit"></i>
            <span>Save</span>
            <i class="icon icon-midi ion-checkmark-round"></i>
    </label>
</div>