<ion-view style="background-color: #f5f5f5"  hide-back-button="true" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>Education history</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-person"
        ui-sref="app.user.profile"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list ng-if="vm.cv.education.length" can-swipe="true" class="itw-timeline">
            <div ng-repeat="education in vm.cv.education">
                <ion-item ng-click="vm.edit(education)" class="item-timeline">
                    <div class="line"></div>
                    <div class="row">
                        <div class="itw-timeline-left">
                            <span class="itw-bubble" style="">
                                {{ education.CompleteDate | date:'MMM yyyy':'+0300' }}
                            </span>
                        </div>
                        <div class="col">
                            <h2>{{ education.Course }}</h2>
                            <p>{{ education.Institution }}</p>
                        </div>
                    </div>
                    <ion-option-button class="button-energized"
                                       ng-click="vm.remove(education)">
                        Delete
                    </ion-option-button>
                </ion-item>
                <ion-item ng-if="vm.education && vm.education.EducationID === education.EducationID"
                          ng-init="education = vm.education"
                          ng-include src="'app/jobs/cv/cv.education.form.html'"
                          class="item-timeline">

                </ion-item>
            </div>
        </ion-list>

        <div class="list list-inset">
            <div class="item" ng-show="!vm.cv.education.length">
                <h2>STEP 3 &mdash; Education details</h2>
            </div>

            <ng-include src="'app/jobs/cv/cv.education.form.html'"
                        ng-if="vm.education && !vm.education.EducationID"
                        ng-init="education = vm.education">

            </ng-include>

            <label class="item item-positive item-icon-left" ng-show="!vm.education" ng-click="vm.addItem()">
                <i class="icon icon-midi ion-plus"></i>
                I also studied
            </label>
        </div>
        <p>&nbsp;</p>
    </ion-content>
    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.prev()">
                <i class="icon ion-chevron-left"></i>
                Skills
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.next()">
                Employment
                <i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>