<ion-view style="background-color: #f5f5f5"  hide-back-button="true" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>Work history</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-person"
        ui-sref="app.user.profile"
        ga-track-event="['cv', 'employment', 'profile']"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list ng-if="vm.cv.employment.length" can-swipe="true" class="itw-timeline">
            <div ng-repeat="employment in vm.cv.employment">
                <ion-item ng-click="vm.edit(employment)" class="item-timeline">
                    <div class="line"></div>
                    <div class="row">
                        <div class="itw-timeline-left">
                            <span class="itw-bubble" style="">
                                {{ employment.StartDateD | date:'MMM yyyy'}} 
                            </span>
                        </div>
                        <div class="col">
                            <h2>{{ employment.Company }}</h2>
                            <p>{{ employment.JobTitle }}</p>
                        </div>
                    </div>

                    <ion-option-button class="button-energized"
                                       ng-click="vm.remove(employment)"
                                       ga-track-event="['cv', 'employment', 'remove']">
                        Delete
                    </ion-option-button>
                </ion-item>
                <ion-item ng-if="vm.employment && vm.employment.EmploymentID === employment.EmploymentID"
                          ng-init="employment = vm.employment"
                          ng-include src="'app/jobs/cv/cv.employment.form.html'"
                          class="item-timeline">

                </ion-item>
            </div>
        </ion-list>

        <div class="list list-inset">

            <div class="item" ng-if="!vm.cv.employment.length">
                <h2>STEP 4 &mdash; Employment details</h2>
            </div>

            <div class="item item-icon-right" ng-click="vm.skip()" ng-if="!vm.cv.employment.length">
                Seeking first time employment<br/>Skip this step
                <i class="icon ion-chevron-right" style="right: 0"></i>
            </div>

            <ng-include src="'app/jobs/cv/cv.employment.form.html'"
                        ng-if="vm.employment && !vm.employment.EmploymentID"
                        ng-init="employment = vm.employment">

            </ng-include>

            <label class="item item-positive item-icon-left" ng-show="!vm.employment" ng-click="vm.addItem()">
                <i class="icon icon-midi ion-plus"></i>
                <span ng-if="vm.isGraduate && vm.cv.employment.length === 1">I worked at?</span>
                <span ng-if="!(vm.isGraduate && vm.cv.employment.length === 1)">I also worked at?</span>
            </label>
        </div>
        <p>&nbsp;</p>
    </ion-content>

    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.prev()"
            ga-track-event="['cv', 'employment', 'prev']">
                <i class="icon ion-chevron-left"></i>
                Education
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.next()"
            ga-track-event="['cv', 'employment', 'next']">
                Wishlist
                <i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>