<ion-view style="background-color: #f5f5f5">
    <ion-nav-title>My education</ion-nav-title>
	<ion-nav-buttons side="secondary">
	  	<button class="button button-icon ion-person" 
                ui-sref="app.user.profile"></button>
	</ion-nav-buttons>
    <ion-content>
        <ion-list ng-if="vm.cv.education.length" can-swipe="true">
           <div ng-repeat="education in vm.cv.education">
            <ion-item ng-click="vm.edit(education)">
                <h2>{{ education.Course }} @ {{ education.Institution }}</h2>
                <p>Completed {{ education.CompleteDate | date:'MMM yyyy':'+0300' }}</p>
                <ion-option-button class="button-energized"
                           ng-click="vm.edit(education)">
                  Delete
                </ion-option-button>
            </ion-item>
            <ion-item ng-if="vm.education && vm.education.EducationID === education.EducationID">
                <ng-include src="'app/jobs/cv/cv.education.form.html'" ng-init="education = vm.education"></ng-include>
            </ion-item>
           </div>
        </ion-list>

        <div class="list card">
            <div class="item" ng-show="!vm.cv.education.length">
                <h2>STEP 3 &dash; Education details</h2>
            </div>

            <ng-include src="'app/jobs/cv/cv.education.form.html'"
            ng-if="vm.education && !vm.education.EducationID" 
            ng-init="education = vm.education">
                
            </ng-include>
            <!-- <section ng-show="vm.education && !vm.education.EducationID" ng-init="education = vm.education">
                <div class="item item-divider item-icon-right">
                    Add education
                    <i class="icon ion-close assertive" style="font-size: 24px; " 
                        ng-if="vm.cv.education.length"
                        ng-click="vm.cancel(education)"></i>
                </div>
                <label class="item item-input" ng-class="{ 'has-error' : !education.Course && education.$submitted }">
                    <i class="icon ion-person placeholder-icon" style="width: 24px"></i>
                    <input type="text" placeholder="Achievement" name="Course" ng-model="education.Course" required>
                </label>

                <label class="item item-input" ng-class="{ 'has-error' : !education.Institution && education.$submitted }">
                    <i class="icon ion-person placeholder-icon" style="width: 24px"></i>
                    <input type="text" placeholder="Institution" name="Institution" ng-model="education.Institution" required>
                </label>

                <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : !education.CompleteDate && education.$submitted }">
                        <span class="input-label" style="color: #666">Date completed</span>
                        <input type="month" placeholder="Date completed" name="CompleteDate"
                           ng-model="education.CompleteDate" required>
                </label>
                <label class="item item-balanced item-icon-left item-icon-right" 
                    ng-click="vm.save(education)">
                        <i class="icon ion-plus-round" style="font-size: 24px"></i>
                        <span>Save</span>
                        <i class="icon ion-checkmark-round" style="font-size: 24px"></i>
                </label>
            </section> -->
            <label class="item" ng-show="!vm.education">
                <button class="button button-small button-balanced button-clear icon-left ion-plus"
                        ng-click="vm.addItem()">
                    I also studied
                </button>
            </label>
        </div>

        
    </ion-content>
    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.prev()">
            	<i class="icon ion-chevron-left"></i>
            	Skills
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.next()">
            	Employment
            	<i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>