<div class="line" ng-if="skill.SkillID"></div>
<div class="list">
    <div class="item item-divider item-icon-right">
        <span ng-if="!skill.SkillID">Add</span> 
        <span ng-if="skill.SkillID">Edit</span> 
        skill
        <i class="icon icon-midi ion-close assertive" ng-click="vm.cancel(skill)"
        style="right: 4px"
        ng-if="vm.cv.skills.length"></i>
    </div>

    <div class="item" ng-class="{ 'has-error' : !skill.SkillDescription && skill.$submitted }"
      style="padding: 4px 0; ">
        <md-autocomplete
          md-search-text="skill.SkillDescription"
          md-items="item in vm.querySearch(skill.SkillDescription)"
          md-item-text="item.SkillDescription"
          md-min-length="0"
          md-delay="16"
          placeholder="Name a skill you have or tech you know">
        <md-item-template>
          <span md-highlight-text="skill.SkillDescription" md-highlight-flags="^i">{{item.SkillDescription}}</span>
        </md-item-template>
      </md-autocomplete>
    </div>

    <label class="item item-input item-select"
      ng-class="{ 'has-error' : !skill.SkillCompetency && skill.$submitted }">
          <div class="input-label">
              Competency
          </div>
          <select ng-model="skill.SkillCompetency"
          ng-options="item as item for item in vm.lu.competencyList">
            <option value="">- select -</option>
          </select>
      </label>
      <label class="item item-input item-select"
      ng-class="{ 'has-error' : !skill.MonthsExperience && skill.$submitted }">
          <div class="input-label">
              Months experience
          </div>
          <select ng-model="skill.MonthsExperience"
          ng-options="item.key as item.value for item in vm.lu.experienceList">
              <option value="">- select -</option>
          </select>
      </label>

    <label class="item item-positive item-icon-left item-icon-right" 
        ng-click="vm.submit(skill)"
        ga-track-event="['cv', 'skills', 'save']">
            <i class="icon icon-midi ion-edit"></i>
            <span>Save</span>
            <i class="icon icon-midi ion-checkmark-round"></i>
    </label>
</div>