<ion-view style="background-color: #f5f5f5"  hide-back-button="true" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>Skills</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-person"
        ui-sref="app.user.profile"
        ga-track-event="['cv', 'skills', 'profile']"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list ng-if="vm.cv.skills.length" can-swipe="true" class="itw-timeline">
           <div ng-repeat="skill in vm.cv.skills">
            <ion-item ng-click="vm.edit(skill)" class="item-timeline">
                <div class="line"></div>
                <div class="row">
                    <div class="itw-timeline-left">
                        <i class="icon assertive" ng-repeat="i in vm.translateRating(skill) track by $index"
                        ng-class="{ 'ion-ios-star': i, 'ion-ios-star-outline': !i }"
                        style="font-size: 20px;"></i>
                    </div>
                    <div class="col">
                        <h2>{{ skill.SkillDescription }}</h2>
                        <p>{{ vm.translateExperience(skill) }} months</p>
                    </div>
                </div>
                <ion-option-button class="button-energized"
                           ng-click="vm.remove(skill)"
                           ga-track-event="['cv', 'skills', 'remove']">
                  Delete
                </ion-option-button>
            </ion-item>
            <ion-item ng-if="vm.skill && vm.skill.SkillID === skill.SkillID"
             ng-init="skill = vm.skill"
             ng-include src="'app/jobs/cv/cv.skills.form.html'" class="item-timeline">
                
            </ion-item>
           </div>
        </ion-list>

        <div class="list list-inset">
            <div class="item" ng-show="!vm.cv.skills.length">
                <h2>STEP 2 &mdash; Skills</h2>
            </div>

            <ng-include src="'app/jobs/cv/cv.skills.form.html'"
            ng-if="vm.skill && !vm.skill.SkillID" 
            ng-init="skill = vm.skill">
                
            </ng-include>
            
            <label class="item item-positive item-icon-left" ng-show="!vm.skill" ng-click="vm.addItem()">
                <i class="icon icon-midi ion-plus"></i>
                Add another skill
            </label>
        </div>
        <p>&nbsp;</p>
    </ion-content>
    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.prev()"
            ga-track-event="['cv', 'skills', 'prev']">
            	<i class="icon ion-chevron-left"></i>
            	Personal info
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.next()"
            ga-track-event="['cv', 'skills', 'next']">
            	Education
            	<i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>