<ion-view style="background-color: #f5f5f5">
    <ion-nav-title>My skills</ion-nav-title>
	<ion-nav-buttons side="secondary">
	  	<button class="button button-icon ion-person" 
                ui-sref="app.user.profile"></button>
	</ion-nav-buttons>
    <ion-content>
        <ion-list ng-if="vm.cv.skills.length" can-swipe="true">
           <div ng-repeat="skill in vm.cv.skills">
            <ion-item ng-click="vm.edit(skill)">
                <h2>{{ skill.SkillDescription }}</h2>
                <p class="row">
                    <span class="col">{{ skill.SkillCompetency }}</span> 
                    <span>{{ skill.MonthsExperience }} months</span>
                </p>
                <ion-option-button class="button-energized"
                           ng-click="vm.edit(skill)">
                  Delete
                </ion-option-button>
            </ion-item>
            <ion-item ng-if="vm.skill && vm.skill.SkillID === skill.SkillID"
             ng-init="skill = vm.skill"
             ng-include src="'app/jobs/cv/cv.skills.form.html'">
                
            </ion-item>
           </div>
        </ion-list>

        <div class="list card">
            <div class="item" ng-show="!vm.cv.skills.length">
                <h2>STEP 2 &dash; Skills</h2>
            </div>

            <ng-include src="'app/jobs/cv/cv.skills.form.html'"
            ng-if="vm.skill && !vm.skill.SkillID" 
            ng-init="skill = vm.skill">
                
            </ng-include>
            
            <label class="item" ng-show="!vm.skill">
                <button class="button button-small button-balanced button-clear icon-left ion-plus"
                        ng-click="vm.addItem()">
                    I also know
                </button>
            </label>
        </div>

        <div class="list card">
            <div class="item item-energized">
                <p style="color: #fff">e.g. Windows 2000 or XP,    
                TCP IP, 
                SQL,    
                Windows NT, 
                ETHERNET,   
                Visual Basic,   
                Linux,  
                Java,   
                Oracle, 
                Visual Basic Net,   
                Token Ring, 
                Unix,   
                ASP Net,    
                IPX SPX,    
                PL SQL</p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.prev()">
            	<i class="icon ion-chevron-left"></i>
            	Personal info
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.next()">
            	Education
            	<i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>