<ion-view style="background-color: #f5f5f5">
    <ion-nav-title>My CV</ion-nav-title>
	
	<ion-nav-buttons side="secondary">
		<button class="button button-icon ion-person" 
                ui-sref="app.user.profile"></button>
	</ion-nav-buttons>
    <ion-content>
        <form name="vm.cvForm" ng-submit="false">
            <div class="list card">
                <div class="item">
                    <h2>Career information</h2>
                </div>
                <section ng-if="!vm.isGraduate">
                    <div class="item" style="padding: 6px 0 5px 16px;"
                    ng-class="{ 'has-error' : !vm.employment.RemAmount && vm.$submitted }">
                        <div>Salary at {{ vm.employment.Company }}</div>
                        <div class="row" style="padding-top: 0; padding-right: 0">
                            <span class="col col-50">
                                <input type="text" placeholder="0" ng-model="vm.employment.RemAmount">
                            </span>
                            <span class="col col-50 item-select">
                                 <select ng-model="vm.employment.RemCurrency"
                                    ng-options="item.Symbol as item.Symbol for item in vm.lu.currencyList">
                                </select>
                            </span>
                        </div>
                    </div>

                    <label class="item item-input item-select"
                    ng-class="{ 'has-error' : !vm.employment.RemFrequencyCode && vm.$submitted }">
                        <div class="input-label">
                            Frequency
                        </div>
                        <select name="RemFrequencyCode" 
                            ng-model="vm.employment.RemFrequencyCode"
                            ng-options="item.key as item.value for item in vm.lu.frequencyList">
                        </select>
                    </label>

                    <label class="item item-input item-select"
                     ng-class="{ 'has-error' : !vm.cv.NoticePeriod && vm.$submitted }">
                        <div class="input-label">
                            Notice period
                        </div>
                        <select name="NoticePeriod" 
                            ng-model="vm.cv.NoticePeriod"
                            ng-options="item.key as item.value for item in vm.lu.noticeList"
                            required>
                        </select>
                    </label>

                    <div class="item item-divider">
                        &nbsp;    
                    </div>
                </section>

                <label class="item item-input item-select"
                ng-class="{ 'has-error' : !vm.cv.WishJobType && vm.$submitted }">
                    <div class="input-label">
                        Desired job type
                    </div>
                    <select name="WishJobType" ng-model="vm.cv.WishJobType">
                        <option ng-value="item" ng-repeat="item in vm.lu.jobType">{{ item }}</option>
                    </select>
                </label>

                <div class="item" style="padding: 6px 0 5px 16px;"
                ng-class="{ 'has-error' : !vm.cv.WishRemAmount && vm.$submitted }">
                    <div>Desired salary</div>
                    <div class="row"  style="padding-top: 0; padding-right: 0">
                        <span class="col col-50">
                            <input type="text" placeholder="0"  ng-model="vm.cv.WishRemAmount">
                        </span>
                        <span class="col col-50 item-select">
                             <select ng-model="vm.cv.WishRemCurrency"
                                ng-options="item.Description as item.Symbol for item in vm.lu.currencyList">
                            </select>
                        </span>
                    </div>
                </div>

                <label class="item item-input item-select"
                ng-class="{ 'has-error' : !vm.cv.WishRemFrequencyCode && vm.$submitted }">
                    <div class="input-label">
                        Frequency
                    </div>
                    <select ng-model="vm.cv.WishRemFrequencyCode"
                        ng-options="item.value as item.value for item in vm.lu.frequencyList">
                    </select>
                </label>

                <ion-toggle name="Relocation" ng-model="vm.cv.Relocation">
                    Willing to relocate?
                </ion-toggle>
            </div>

            <div class="list card">
                <div class="item">
                    <h2>Settings</h2>
                </div>
                <ion-toggle ng-model="vm.cv.SearchableYN">
                    Searchable
                    <p>My CV can be discovered</p>
                </ion-toggle>
            </div>
        </form>
    </ion-content>

    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ui-sref="app.jobs.profile-4">
                <i class="icon ion-chevron-left"></i>
                Employment history
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ng-click="vm.next()">
                Done
                <i class="icon ion-checkmark-round"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>