<ion-view>
	<div class="bar bar-subheader bar-dark" style="padding-top: 2px">
		<span class="row" style="padding: 0">
			<span class="col" style="padding-top: 0">
				<br />Search results
			</span>
			<span class="text-right">
				<br />Showing {{ vm.items.length }} of {{ vm.pagination.total }}
			</span>
		</span>
	</div>

	<ion-content class="has-subheader">
		<section ng-show="!vm.items.length" class="padding">
    		<p class="text-center assertive" ng-cloak>No jobs found</p>
    	</section>
		<div ng-show="vm.items.length" class="list">
			<div class="item" ng-repeat="item in vm.items" ui-sref="app.jobs.job({ id: item.JobID })">
				
				<h2 ng-bind-html="item.JobTitle"></h2>
				<p class="row">
					<span class="col" ng-if="item.rating.length">
						<i class="icon ion-ios-star assertive" ng-repeat="i in item.rating"></i>
					</span>
					<span class="col" ng-if="!item.rating.length">
						<i class="icon ion-ios-star-half assertive"></i>
					</span>
					<strong class="col text-right">{{ item.CompanyDesc }}</strong>
				</p>
				
				<section>
					<div class="row">
						<label class="col stable">Date added</label>
						<span class="col text-right">{{ item.CreationDate | date }}</span>
					</div>
					<div class="row">
						<label class="col col-40 stable">Salary</label>
						<span class="col col-60 text-right">{{ item.SalaryDesc }}</span>
					</div>
					<div class="row">
						<label class="col stable">Location</label>
						<span class="col text-right">{{ item.AreaDesc }}</span>
					</div>
					<div class="row">
						<label class="col stable">Duration</label>
						<span class="col text-right">{{ item.JobTypeDesc }}</span>
					</div>
				</section>
				<!-- <br />
				<p ng-bind-html="item.Story"></p> -->
			</div>
		</div>
		<ion-infinite-scroll
        	immediate-check="false"
        	ng-if="!vm.complete"
		    on-infinite="vm.loadItems()"
		    distance="5%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>