<ion-view>
	<ion-nav-title>Jobs</ion-nav-title>
	
	<ion-nav-buttons side="secondary">
		<button class="button button-icon ion-android-search" 
                ng-click="vm.showSearchbar()"></button>
      	<button class="button button-icon ion-person" 
                ui-sref="app.user.profile"></button>
	</ion-nav-buttons>

	<ion-content>
		<div class="padding" style="padding-bottom: 0">
			<h3 class="assertive">{{ vm.job.JobTitle }}</h3>
			<h4><i class="icon ion-university" ng-if="vm.job.CompanyTypeCode==='A'"></i> {{ vm.job.Name }}</h4>
		</div>
		<section>
			<div class="row">
				<label class="col">Ref no</label>
				<strong class="col text-right">{{ vm.job.JobID }}</strong>
			</div>
			<div class="row">
				<label class="col">Job type</label>
				<strong class="col text-right">{{ vm.job.JobType }}</strong>
			</div>
			<div class="row">
				<label class="col">Date added</label>
				<strong class="col text-right">{{ vm.job.CreationDateText | date }}</strong>
			</div>
		</section>
		<section class="padding" style="background: #e5e5e5; border-style: solid; border-color: #ccc; border-width: 1px 0">
			<ul>
				<li class="assertive" ng-if="vm.job.Affirmative === 'Y'">
					<i class="icon ion-android-checkmark-circle"></i> Affirmative action position
				</li>
				<li>
					<i class="icon ion-clipboard"></i>&nbsp;
					<ng-pluralize count="vm.job.Stats.Hits" when="{ 'one': '1 view', 'other': '{} views' }"></ng-pluralize>
				</li>
				<li>
					<i class="icon ion-briefcase"></i>&nbsp; 
					<ng-pluralize count="vm.job.Stats.JobResponses" when="{ 'one': '1 application', 'other': '{} applications' }"></ng-pluralize>
				</li>
			</ul>
		</section>
		<section>
			<div class="row">
				<label class="col">Location</label>
				<strong class="col text-right">{{ vm.job.Area }}</strong>
			</div>
			<div class="row">
				<label class="col col-40">Salary</label>
				<strong class="col col-60 text-right">{{ vm.job.SalaryDisplayText }}</strong>
			</div>
			<div class="row">
				<label class="col">Benefits</label>
				<strong class="col text-right">{{ vm.job.Perks }}</strong>
			</div>
		</section>
		<section class="padding">
			<h4 style="margin-top: 16px; margin-bottom: 0">Role details:</h4>
			<p ng-bind-html="vm.job.JobDescDetail"></p>
		</section>
	</ion-content>

	<ion-footer-bar ng-class="vm.theme" align-title="center">
		<h3 class="title" ng-click="vm.apply()" ng-if="!vm.match">{{ vm.instruction }} <i class="icon ion-chevron-right"></i></h3>
		<h3 class="title" ng-if="vm.match">You've applied on {{ vm.match.responseDate | date:'d MMM yyyy' }}</h3>
	</ion-footer-bar>
</ion-view>