<ion-view>
	<ion-nav-title>Jobs</ion-nav-title>
	
	<ion-nav-buttons side="secondary">
		<button class="button button-icon ion-android-search" 
                ng-click="vm.showSearchbar()"></button>
      	<button class="button button-icon ion-person" 
                ui-sref="app.user.profile"></button>
	</ion-nav-buttons>

	<ion-content lazy-scroll ng-class="{ 'has-subheader': vm.hasSubheader }" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    	<section>
	    	<ion-list>
	    		<ion-item ng-repeat="(i, item) in vm.items" ui-sref="app.jobs.job({ id: item.JobID, job: item })"> 
	    			<span class="badge badge-energized" ng-if="item.Affirmative==='Y'">A</span>
	    			<h2>{{ item.JobTitle }}</h2>
	    			<p><strong ng-class="{ 'balanced': item.CompanyTypeCode !== 'A' }">{{ item.Name }}</strong></p>
	    			<p class="row">
	    				<span class="col">{{ item.Description }}</span> 
	    				<span><i class="icon ion-clipboard"></i> {{ item.Hits }} <i class="icon ion-briefcase"></i> {{ item.JobResponses }}</span>
	    				</p>
		    	</ion-item>
	        </ion-list>
        </section>

        <ion-infinite-scroll
        	immediate-check="false"
        	ng-if="!vm.complete"
		    on-infinite="vm.loadItems()"
		    distance="5%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>