<ion-view hide-back-button="true" style="background-color: #f5f5f5">
    <ion-nav-title>My CV</ion-nav-title>

    <ion-content>
        <form name="profileForm">
            <div class="list card">
                <div class="item">
                    <h2>Skills</h2>
                </div>

                <div class="item item-divider">
                    Activity
                </div>
                <ion-radio ng-model="vm.activity" ng-value="'A'">Operating systems</ion-radio>
                <ion-radio ng-model="vm.activity" ng-value="'B'">Development</ion-radio>
                <ion-radio ng-model="vm.activity" ng-value="'C'">Networking</ion-radio>
                <ion-radio ng-model="vm.activity" ng-value="'D'">Databases</ion-radio>
                <ion-radio ng-model="vm.activity" ng-value="'E'">Other</ion-radio>
            </div>

            <div class="list card" ng-show="vm.activity">
                <div class="item item-divider">
                    {{ vm.skills[vm.activity].title }}
                </div>

                <div ng-repeat="skill in vm.skills[vm.activity].skills">
                    <ion-checkbox ng-model="vm.filter[skill]">{{ skill }}</ion-checkbox>
                    <section ng-show="vm.filter[skill]">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Competency
                            </div>
                            <select>
                                <option value="">- select -</option>
                                <option value=Trained>Trained</option>
                                <option value=Beginner>Beginner</option>
                                <option value=Intermediate>Intermediate</option>
                                <option value=Advanced>Advanced</option>
                            </select>
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Experience <br />
                                <small>(in months)</small>
                            </div>
                            <select>
                                <option value="">- select -</option>
                                <option value="3">0-6</option>
                                <option value="10">6-12</option>
                                <option value="20">12-24</option>
                                <option value="30">24-36</option>
                                <option value="40">36-48</option>
                                <option value="50">48-60</option>
                                <option value="70">60+</option>
                            </select>
                        </label>
                        <div class="item item-divider">
                            &nbsp;
                        </div>
                    </section>
                </div>


                <div class="item item-divider">
                    &nbsp;
                </div>
                <label class="item item-input">
                    <i class="icon ion-ios-heart placeholder-icon" style="width: 24px"></i>
                    <input type="text" placeholder="Your strongest skill if not listed" name="displayName"
                           ng-model="vm.aaa">
                </label>
                <section ng-show="vm.aaa.length">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Competency
                        </div>
                        <select>
                            <option value="">- select -</option>
                            <option value=Trained>Trained</option>
                            <option value=Beginner>Beginner</option>
                            <option value=Intermediate>Intermediate</option>
                            <option value=Advanced>Advanced</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Experience <br />(months)
                        </div>
                        <select>
                            <option value="">- select -</option>
                            <option value="3">0-6</option>
                            <option value="10">6-12</option>
                            <option value="20">12-24</option>
                            <option value="30">24-36</option>
                            <option value="40">36-48</option>
                            <option value="50">48-60</option>
                            <option value="70">60+</option>
                        </select>
                    </label>

                </section>

            </div>

            <!-- <div class="list card">
                <label class="item">
                    <button class="button button-small button-balanced button-clear icon-left ion-briefcase"
                            ui-sref="app.jobs.profile-3">
                        STEP 3 &ndash; Education
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </label>
            </div> -->
        </form>
    </ion-content>
    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ui-sref="app.jobs.profile">
            	<i class="icon ion-chevron-left"></i>
            	Personal info
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ui-sref="app.jobs.profile-3">
            	Education
            	<i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>