<ion-view hide-back-button="true" style="background-color: #f5f5f5">
    <ion-nav-title>My CV</ion-nav-title>

    <ion-content>
        <div class="list card">

            <div class="item">
                <h2>STEP 3 &dash; Education details</h2>
            </div>

            <section ng-repeat="(i, education) in vm.education track by $index">
                <div class="item item-divider">
                    Education #{{ i + 1 }}
                </div>
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon" style="width: 24px"></i>
                    <input type="text" placeholder="Course" name="course" ng-model="education.course" required>
                </label>

                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon" style="width: 24px"></i>
                    <input type="text" placeholder="Institution" name="institution" ng-model="education.institution">
                </label>

                <label class="item item-input">
                    <i class="icon ion-clock placeholder-icon" style="width: 24px"></i>
                    <input type="month" placeholder="Date completed" name="dateCompleted"
                           ng-model="education.dateCompleted">
                </label>
            </section>
            <label class="item">
                <button class="button button-small button-balanced button-clear icon-left ion-plus"
                        ng-click="vm.addEducation()">
                    I also studied
                </button>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark" align-title="center">
        <div class="buttons">
            <button class="button button-clear" ui-sref="app.jobs.profile-2">
            	<i class="icon ion-chevron-left"></i>
            	Skills
            </button>
        </div>
        <h3 class="title">&nbsp;</h3>
        <div class="buttons">
            <button class="button button-clear" ui-sref="app.jobs.profile-4">
            	Employment
            	<i class="icon ion-chevron-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>