<ion-view view-title="{{ vm.category.title }}">
	<ion-content ng-class="{ 'has-subheader': vm.categories.length }">
    	<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading && !vm.items.length" class="padding">
    		<h3 class="text-center assertive" ng-cloak>Oops, something went wrong</h3>
    	</section>
    	<section ng-show="!vm.loading">
	    	<ion-list ng-show="vm.items.length">
	            <ion-item class="item-light" ng-repeat="item in vm.items" 
	            ui-sref="app.article({ id: item.articleId })" 
	            ng-if="item.articleId">
	                <h2>{{ item.name }}</h2>
	            </ion-item>
	            <ion-item class="item-light" ng-repeat="item in vm.items" href="{{ item.link }}" ng-if="!item.articleId">
	                <h2>{{ item.name }}</h2>
	            </ion-item>
	        </ion-list>
        </section>
	</ion-content>
</ion-view>