<ion-view cache-view="false">
    <ion-nav-title>
	    <a ui-sref="app.section({ id: vm.section.catid })" ng-show="vm.section">
			{{ vm.section.title }}
			<i class="icon ion-chevron-right"></i>
		</a>
    </ion-nav-title>

    <ion-nav-buttons side="secondary">
	    <!-- <a class="button button-icon button-clear ion-arrow-up-b" ui-sref="app.section({ id: vm.section.catid })">
		</a> -->
      <md-menu style="padding: 0">
	      <button md-menu-origin class="button button-icon ion-android-share-alt" ng-click="$mdOpenMenu($event)">
	      </button>
	      <md-menu-content width="3">
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="facebook" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon" >
		          		<i class="icon ion-social-facebook"></i>
		          	</span>
		          	Facebook
		        </md-button>
	        </md-menu-item>
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="twitter" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon">
		          		<i class="icon ion-social-twitter"></i>
		          	</span>
		          	<span>Twitter</span>
		        </md-button>
	        </md-menu-item>
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="linkedin" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon">
		          		<i class="icon ion-social-linkedin"></i>
		          	</span>
		          	<span>LinkedIn</span>
		        </md-button>
	        </md-menu-item>
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="google+" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon">
		          		<i class="icon ion-social-googleplus"></i>
		          	</span>
		          	<span>Google+</span>
		        </md-button>
	        </md-menu-item>
	      </md-menu-content>
	    </md-menu>
    </ion-nav-buttons>


	<ion-content on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
		<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading && !vm.article" class="padding">
    		<h3 class="text-center assertive" ng-cloak>Oops, something went wrong</h3>
    	</section>
    	<section ng-show="!vm.loading">
    		<div class="item item-divider" ng-if="vm.section">
    			<div adsrv what="top{{ vm.section.normalized }}" class="top"></div>
    		</div>

    		<main class="padding" itemscope itemtype="http://schema.org/NewsArticle">
    			<!-- <a ui-sref="app.section({ id: vm.section.catid })">
    			<h3 class="itw-section assertive">
    				{{ vm.section.title }}
    				<i class="icon ion-chevron-right"></i>
    			</h3>
    			</a> -->
	    		<h1 itemprop="headline">{{::vm.article.title}}</h1>
	    		
	    		<h4 ng-if="vm.article.summary" ng-bind-html="::vm.article.summary"></h4>
				<div ng-if="vm.article.storytype !== 'P' && vm.article.authorImg" 
					style="border-width: 0; position: relative; padding: 0 0 0 48px">
					<img ng-src="{{ vm.article.authorImg }}" style="position: absolute; top: 0; left: 0; max-width: 40px; max-height: 40px; border-radius: 50%" />
					<h5 style="line-height: 20px">
						<span ng-if="vm.article.created_by_alias" itemprop="author">
							{{ ::vm.article.created_by_alias }}
						</span><br />
						<span>{{ ::vm.article.issueplace }}, </span> 
						<time datetime="{{ ::vm.article.created }}">{{ ::vm.article.created | date:'d MMM yyyy'}}</time> 
					</h5>
				</div>
				<h5 ng-if="vm.article.storytype !== 'P' && !vm.article.authorImg" class="stable">
					<span ng-if="vm.article.created_by_alias">
						By&nbsp;<span itemprop="author">{{ ::vm.article.created_by_alias }}</span>
					</span><br />
					<span>{{ ::vm.article.issueplace }},&nbsp;</span> 
					<time datetime="{{ ::vm.article.created }}">{{ ::vm.article.created | date:'d MMM yyyy'}}</time> 
				</h5>
				<h5 ng-if="vm.article.storytype === 'P'" class="stable">
					<span ng-if="vm.article.issuedby_alias">
						<span itemprop="author">Press release issued by {{ ::vm.article.issuedby_alias }}</span>
					</span><br />
					<span>{{ ::vm.article.issueplace }}, </span> 
					<time datetime="{{ ::vm.article.created }}">{{ ::vm.article.created | date:'d MMM yyyy'}}</time> 
				</h5>
				<a ng-if="vm.article.storytype === 'P' && vm.article.copyPath" class="row"
					ng-href="http://www.itweb.co.za/office/{{ vm.article.copyPath }}"	
					style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-bottom: 10px;padding: 5px 0">
					
					<h5 class="col col-center" style="padding: 5px 0 0; text-transform: uppercase; margin: 0;">
						<span style="color: #3A72AB; font-size:12px"> Visit our press office</span>
					</h5>
					<img ng-src="http://www.itweb.co.za/logos/{{ vm.article.logoPath }}" align="right" />
				</a>

				<article bind-html-compile="::vm.article.html" itemprop="articleBody"></article>

				<meta itemprop="mainEntityOfPage" content="{{ vm.canonical }}" />
				<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
					<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">      
				      <meta itemprop="url" content="http://www.itweb.co.za/templates/ja_itweb/images/itweb_logo_sml.png"/>
				      <meta itemprop="width" content="116"/>
				      <meta itemprop="height" content="49"/>
				    </span>
				    <meta itemprop="name" content="ITWeb Limited"/>
				</span>
				<meta itemprop="datePublished" content="{{ ::vm.article.created }}"/>
				<meta itemprop="dateModified" content="{{ ::vm.article.modified }}"/>
				<meta itemprop="keywords" content="{{ ::vm.article.metakey }}"/>
			</main>
			<div style="width: 100%; height: 1px; clear: both"></div>
			<div class="boilerplate" ng-if="vm.article.storytype === 'P' && vm.article.editornote">
				<div class="card padding" ng-bind-html="::vm.article.editornote">
				</div>

				<div class="card padding" ng-if="vm.article.storytype === 'P' && (vm.article.contactname || vm.article.prcontactname)">
					<p><strong>Editorial contacts</strong></p>
					<p ng-if="vm.article.contactname">
						{{ ::vm.article.meta.Company }}<br />
						{{ ::vm.article.meta.CompanyContactName }}<br />
						{{ ::vm.article.meta.CompanyContactPhone }}<br />
						{{ ::vm.article.meta.CompanyContactEmail }}
					</p>
					<p ng-if="vm.article.prcontactname">
						{{ ::vm.article.meta.IssuedBy }}<br />
						{{ ::vm.article.meta.PRContactName }}<br />
						{{ ::vm.article.meta.PRContactPhone }}<br />
						{{ ::vm.article.meta.PRContactEmail }}
					</p>
				</div>
			</div>

			<ion-list ng-show="vm.related.length || vm.recommended.length" class="h3-list">
				<ion-item class="item-divider">
					<h3 class="itw-section stable">See also</h3>
				</ion-item>
				<ion-item class="item-icon-left item-icon-right"
					ng-repeat="related in vm.related" ui-sref="app.article({ id: related.id })">
					<i class="icon icon-mini ion-document"></i>
					<h3>{{ ::related.title }}</h3>
					<i class="icon icon-mini ion-chevron-right"></i>
				</ion-item>
				<ion-item class="item-icon-left item-icon-right" 
					ng-repeat="recommended in vm.recommended" ui-sref="app.article({ id: recommended.id })">
					<i class="icon icon-mini ion-star"></i>
					<h3>{{ ::recommended.title }}</h3>
					<i class="icon icon-mini ion-chevron-right"></i>
				</ion-item>
				<ion-item class="item-icon-left item-icon-right" 
					ng-repeat="topic in vm.topics track by $index" ui-sref="app.topic({ q: topic })" ng-if="vm.related.length">
					<i class="icon icon-mini ion-bookmark"></i>
					<h3>{{ ::topic }}</h3>
					<i class="icon icon-mini ion-chevron-right"></i>
				</ion-item>
			</ion-list>

			<div class="item item-divider" ng-if="vm.section && !vm.banners.length">
    			<div adsrv what="bot{{ vm.section.normalized }}" class="top"></div>
    		</div>

    		<div imod position="co-sponsor" catid="{{ vm.section.catid }}" rel="list" ng-if="vm.section && vm.banners.length"></div>

			<ion-list ng-show="vm.appearance.length" class="h3-list">
				<ion-item class="item-divider">
					<h3 class="itw-section stable">Related sectors</h3>
				</ion-item>
				<ion-item class="item-icon-right"
					ng-repeat="section in vm.appearance" ui-sref="app.section({ id: section.catid })">
					<!-- <i class="icon icon-mini ion-grid"></i> -->

					<div class="row" ng-style="{ 'min-height': section.attribs.img ? '24px' : '24px' }">
						<h3 class="col col-center">
							{{ ::section.title }}
						</h3>
						<div class="col col-25 col-center text-right" ng-if="section.attribs.img">
							<img ng-src="{{ section.attribs.img }}" style="max-height: 24px" align="right" />
						</div>
					</div>
					<i class="icon icon-mini ion-chevron-right"></i>
				</ion-item>
			</ion-list>

			<div class="item item-divider" ng-if="vm.section && vm.banners.length">
    			<div adsrv what="bot{{ vm.section.normalized }}" class="top"></div>
    		</div>

			<div ng-if="vm.pagination.prev || vm.pagination.next" class="row">
				<a class="button button-clear button-assertive icon-left ion-chevron-left" 
					ng-click="vm.prev()"
					ng-if="vm.pagination.prev">
					Prev
				</a>
				<span class="col text-center"><span style="color: #666;font-size: 12px;line-height: 36px;">Swipe across articles</span></span>
				<a class="button button-clear button-assertive icon-right ion-chevron-right" 
					ng-click="vm.next()"
					ng-if="vm.pagination.next">
					Next
				</a>
			</div>
			
			<!-- <disqus disqus-shortname="itweb-za"
		         disqus-identifier="{{ ::vm.disqus.id }}"
		         disqus-url="{{ ::vm.disqus.url }}"
		         disqus-on-ready="vm.onDisqus()"
		         ready-to-bind="{{ !vm.loading }}">
			</disqus> -->
        </section>
	</ion-content>

</ion-view>