<ion-view view-cache="false" view-title="{{ vm.article.title }}">


    <ion-nav-buttons side="right">
      <md-menu style="padding: 0">
	      <button md-menu-origin class="button button-icon ion-android-share-alt" ng-click="$mdOpenMenu($event)">
	      </button>
	      <md-menu-content width="3">
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="facebook" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon" >
		          		<i class="icon ion-social-facebook"></i>
		          	</span>
		          	Facebook
		        </md-button>
	        </md-menu-item>
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="twitter" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon">
		          		<i class="icon ion-social-twitter"></i>
		          	</span>
		          	<span>Twitter</span>
		        </md-button>
	        </md-menu-item>
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="linkedin" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon">
		          		<i class="icon ion-social-linkedin"></i>
		          	</span>
		          	<span>LinkedIn</span>
		        </md-button>
	        </md-menu-item>
	        <md-menu-item>
		        <md-button class="row" socialshare socialshare-provider="google+" socialshare-url="{{ vm.canonical }}">
		          	<span class="md-menu-icon">
		          		<i class="icon ion-social-googleplus"></i>
		          	</span>
		          	<span>Google+</span>
		        </md-button>
	        </md-menu-item>
	      </md-menu-content>
	    </md-menu>
    </ion-nav-buttons>

	<ion-content on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    	<section ng-show="!vm.loading" class="padding" itemscope itemtype="http://schema.org/NewsArticle">
    		<h1 class="assertive" itemprop="headline">{{::vm.article.title}}</h1>
			<h5>
				<span ng-if="vm.article.created_by_alias">By <span itemprop="author">{{ ::vm.article.created_by_alias }}</span>, </span> 
				<time datetime="{{ ::vm.article.created }}">{{ ::vm.article.created | date:'d MMM yyyy'}}</time> 
			</h5>
			<article bind-html-compile="::vm.article.html" itemprop="articleBody"></article>


			<ion-list>
				<ion-item class="item-divider">
				See also
				</ion-item>
				<ion-item ng-repeat="related in vm.related" ui-sref="app.article({ id: related.id })">
				<h3>{{ related.title }}</h3>
				</ion-item>
			</ion-list>

			<meta itemprop="mainEntityOfPage" content="http://www.itweb.co.za/index.php?option=com_content&view=article&id={{ vm.article.itemid }}" />
			<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
				<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">      
			      <meta itemprop="url" content="http://www.itweb.co.za/templates/ja_itweb/images/itweb_logo_sml.png"/>
			      <meta itemprop="width" content="116"/>
			      <meta itemprop="height" content="49"/>
			    </span>
			    <meta itemprop="name" content="ITWeb Limited"/>
			</span>
			<meta itemprop="datePublished" content="{{ ::vm.article.created }}"/>
			<meta itemprop="keywords" content="{{ ::vm.article.metakey }}"/>

			<!-- <disqus disqus-shortname="itweb-za"
		         disqus-identifier="{{ ::vm.disqus.id }}"
		         disqus-url="{{ ::vm.disqus.url }}"
		         disqus-on-ready="vm.onDisqus()"
		         ready-to-bind="{{ !vm.loading }}">
			</disqus> -->
        </section>
	</ion-content>
</ion-view>