<ion-view>
	<ion-nav-title>{{ ::vm.category.title }}</ion-nav-title>

	<ion-nav-buttons side="right">
      <button class="button button-icon ion-grid"
            ui-sref="app.sections"
            ga-track-event="['section', 'sections', vm.analyticsEvent]">
      </button>
    </ion-nav-buttons>

	<ion-content lazy-scroll ng-class="{ 'has-subheader': vm.hasSubheader }" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    	<section ng-show="!vm.loading">
	    	<ion-list ng-show="vm.items.length">
	    		<div ng-repeat="(i, item) in vm.items">
		            <ion-item class="item-divider" ng-if="i % 25 === 0" style="padding-left: 0; padding-right: 0">
		            	<div adsrv what="top{{ ::vm.category.normalized }}-mobi"></div>
		            </ion-item>

		            <ion-item class="item-divider" ng-if="i % 25 === 6" style="padding-left: 0; padding-right: 0">
		            	<div adsrv what="dbl{{ ::vm.category.normalized }}-mobi" ></div>
		            </ion-item>

		            <ion-item class="item-divider" ng-if="i % 25 === 12" style="padding-left: 0; padding-right: 0">
		            	<div adsrv what="tileone{{ ::vm.category.normalized }}-mobi"></div>
		            </ion-item>

		            <ion-item class="item-divider" ng-if="i % 25 === 18" style="padding-left: 0; padding-right: 0">
		            	<div adsrv what="rec{{ ::vm.category.normalized }}-mobi"></div>
		            </ion-item>

		            <ion-item class="item-light" ng-include="'app/news/news.item.html'">
		            </ion-item>
		        </div>
	        </ion-list>
        </section>

        <ion-infinite-scroll
        	immediate-check="false"
        	ng-if="!vm.complete"
		    on-infinite="vm.loadItems()"
		    distance="5%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
