<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
	<ion-nav-title>
        {{ vm.title }}
	</ion-nav-title>

	<ion-content lazy-scroll>
        <ion-refresher
            on-refresh="vm.refresh()">
        </ion-refresher>

    	<ion-list ng-show="vm.items.length">
            <div ng-repeat="(i, item) in vm.items">
                <ion-item class="item-divider item-block" ng-if="!vm.pr && i % 12 === 0">
                    <div adsrv what="itwatop{{ vm.adword }}-mobi"></div>
                </ion-item>

                <ion-item class="item-divider item-block" ng-if="!vm.pr && i % 12 === 4">
                    <div adsrv what="itwaco{{ vm.adword }}-mobi" ></div>
                </ion-item>

                <ion-item class="item-divider item-block" ng-if="!vm.pr && i % 12 === 8">
                    <div adsrv what="itwaco1{{ vm.adword }}-mobi"></div>
                </ion-item>

                <ion-item ng-include="'app/news/news.item.html'">
                </ion-item>
            </div>
        </ion-list>

        <ion-infinite-scroll
            immediate-check="false"
            ng-if="!vm.complete"
            on-infinite="vm.next()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>