@import 
	"ionic/ionic.scss",
  "ionic-filter-bar/ionic.filter.bar.scss",
  "itw.scss";

a {
  text-decoration: none;
}
.md-tab {
	padding: 10px 12px;
}
md-tabs-canvas, md-pagination-wrapper {
    height: $bar-subheader-height;
}
.spinner svg {
	stroke: $assertive;
	fill: $assertive;
}

.icon {
  &.icon-mini {
  	font-size: 14px;
  }
  &.icon-midi {
    font-size: 18px;
  }
}

.list .item.item-accordion {
  padding-left: 28px;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.item h1, .item-content h1,
.item h2, .item-content h2,
.item h3, .item-content h3,
.item p, .item-content p {
  white-space: normal;
}
.item-complex .item-content, .item-radio .item-content {
  padding: 12px;
}
.item-thumbnail-left.item-complex .item-content {
    padding-top: 6px;
    padding-left: 102px;
    min-height: 100px;
}

.pic {
  text-align: center;
  img {
    margin: 0 auto;
    max-width: 100%;
  }
  .pic-caption {
    font-size: 11px;
    color: #444;    
  }
}


ion-side-menu .item {
  margin: 0;
  border-width: 0px;
}

article img {
  max-width: 100%;
}
article table {
  max-width: 100%;
}

.item.item-light.current {
  background-color: #ffc;
}
ion-header-bar.bar.bar-stable {
  border-bottom: 1px solid #ddd;
}
.item-logo-left .item-content > img:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    width: 100%;
}
.item-logo-left.item-complex .item-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 102px;
    min-height: 73px;
}
.list {
    max-width: 420px;
}
.item {
  h2 {
    font-size: 18px;
    line-height: 1.3;
  }
  h2, p {
    margin: 0 0 4px 0;
  }
  table {
    white-space: normal;
    color: #666;
    margin: 10px 0;
  }
  img {
    max-width: 100%;
  }
}

.highlight {
    background-color: #FFFFCC;
    font-weight: bold;
    padding: 1px 4px;
}
.md-menu-icon {
      display: inline-block;
    width: 24px;
    text-align: center;
    vertical-align: middle;
}
md-menu-item i {
  font-size: 24px;
}
md-menu-item span {
  line-height: 34px;
}
.item-divider .itw-section {
  padding: 16px 0 4px;
}
p { color: #666; }

article span {
  color: #666;
}
.articleContentTableHead,
.articleContentTable
{
  width:640px !important;
  margin-bottom: 10px;
}

.articleContentTableHead,
.articleContentTable,
.articleContentTableHead tr,
.articleContentTable tr,
.articleContentTableHead td,
.articleContentTable td
{
  border:0px;
  padding:5px;
}

.articleContentTableHead  p,
.articleContentTable p,
.articleContentTableHead  td p,
.articleContentTable td p
{
  margin:0px !important;
  padding:0px !important;
}

.articleContentTableHead tr:first-child,
.articleContentTableHead tr:first-child td,
.articleContentTableHead tr:first-child p,
.articleContentTableHead tr:first-child td p
{
  color:#ffffff !important;
  background:#aaaaaa;
}

.articleContentTableHead tr:nth-child(odd),
.articleContentTable tr:nth-child(odd)
{
  color:#000000;
  background:#eeeeee !important;
}

.boilerplate {
  padding: 10px 10px 20px;
  .card {
    margin: 0 0 10px;
    background-color: #f8f4ef;
  }
}
.item p.caption {
  font-size: 12px;
  font-style: italic;
}
.card {
  margin: 10px 10px 0 10px;
  padding: 0;
  h2 {
    font-size: 16px;
    margin: 4px;
  }
  .itw-section {
    padding: 4px 0 2px 4px;
  }
  p {
    margin: 0 0 0 4px;
  }
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.lead-caption {
  background: #626262;
  color:#eee;
  font-weight: 500;
  padding: 0 4px;
  margin-top: -5px;
  white-space: normal;
}
blockquote {
  border-left: 5px solid $assertive;
}
.quote-of-the-day {
  margin: 0;
  .body {
    font-size: 16px !important;
  }
}
.adhead {
  font-size: 12px;
  color: #666;
}
[adsrv].embedded {
  float: left;
  margin: 5px 5px 5px 0;
}
[adsrv].top img, [adsrv].rect2 img {
  max-width: 100%;
  height: auto;
}
[adsrv].rect {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px -10px;
  text-align: center;
  overflow: hidden;
  padding: 10px 0;
}
[adsrv].rect .adsrv {
  overflow: hidden;
}
[adsrv].rect2 {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px -10px;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}


