
@import
  "ionic/ionic.scss",
  "ionic-filter-bar/ionic.filter.bar.scss",
  "itweb/_core.scss",
  "itweb/_ionic.scss";

a {
  text-decoration: none;
}
.spinner svg {
	stroke: $assertive;
	fill: $assertive;
}
.icon {
  &.icon-mini {
  	font-size: 14px;
  }
  &.icon-midi {
    font-size: 18px;
  }
}
.list .item.item-accordion {
  padding-left: 40px;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item h1, .item-content h1,
.item h2, .item-content h2,
.item h3, .item-content h3,
.item p, .item-content p {
  white-space: normal;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 12px;
}

article img {
  max-width: 100%;
  height: auto;
}
article table {
  max-width: 100%;
}
.item {
  h2 {
    font-size: 18px;
    line-height: 1.3;
  }
  h2, p {
    margin: 0 0 4px 0;
  }
  table {
    white-space: normal;
    color: #666;
    margin: 10px 0;
  }
  img {
    max-width: 100%;
  }
  &.item-divider.item-block {
    padding-left: 0;
    padding-right: 0;
    clear: both;
  }
  &.item-divider.item-stretch {
    margin: 10px -10px;
    padding-left: 0;
    padding-right: 0;
    clear: both;
  }
}
.highlight {
    background-color: #FFFFCC;
    font-weight: bold;
}

.item-divider .itw-section {
  padding: 16px 0 4px;
}
p { color: #666; }

article span {
  color: #666;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
blockquote, .pullquote {
    border-left: 5px solid #CC2C0E;
    clear: left;
    font-size: 16px;
    color: #666;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 10px 20px;
}
.adhead {
  font-size: 12px;
  color: #666;
}
[adsrv].embedded {
  float: left;
  margin: 5px 5px 5px 0;
}
[adsrv] img, [adsrv] img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
[adsrv] {
  text-align: center;
}
[adsrv] > div:first-child {
  overflow: hidden;
}
.news-img {
  float:right;
  margin: 0 0 4px 4px;
  width: 100px;
  height: 70px;
  overflow: hidden;
}

@media only screen and (max-device-width: 480px) {
  .item .pic.responsive-pic img {
    min-width: 100%;
  }
}
.item .row, .item .col {
  padding: 0;
}
.h3-list .item h3 {
  margin: 0;
}
.pullquote p {
  margin: 0 0 5px;
}
.pullquoteauthor {
  font-size: 14px;
  font-style: italic;
}
.sidebar {
    float: right;
    width: 50%;
    font-size: 12px;
    margin: 0 0 5px 5px;
    background: #333;
    padding: 5px;
    .sidebar-headline {
      font-size: 16px;
      color: #fff;
    }
    p {
      color: #fff;
    }
    &::after {
      clear: both;
    }
}
.popup-buttons {
  min-height: 48px;
  padding: 8px 10px;
  .button {
    min-height: 36px;
    line-height: 33px;
  }
}
.popup-head {
  padding: 12px 10px;
}
.popup-title {
  font-size: 16px;
  color: $assertive;
}
.popup-body {
  text-align: center;
}
.popup-container .popup {
  border-radius: $button-border-radius;
}
article p img {
  margin: auto;
  display: block;
}

