<ion-view cache-view="false">
    <ion-nav-title>
	    <a ui-sref="app.category({ id: vm.catId })">
			{{ vm.title }}
			<i class="icon ion-chevron-right"></i>
		</a>
    </ion-nav-title>

    <ion-nav-buttons side="secondary">
    	<button class="button button-icon ion-android-share-alt" ng-click="vm.popover.show($event)">
	  	</button>
    </ion-nav-buttons>


	<ion-content lazy-scroll on-swipe-right="vm.prev(1)" on-swipe-left="vm.next(1)" overflow-scroll="true"
	>
		<section ng-show="!vm.loading">
    		<div class="item item-divider item-block">
            	<div adsrv what="top{{ ::vm.section.normalized }}-mobi" class="top"></div>
            </div>

    		<main class="padding" itemscope itemtype="http://schema.org/NewsArticle">

	    		<h1 itemprop="headline">{{::vm.article.title}}</h1>

	    		<h5 ng-if="vm.article.storytype !== 'P' && !vm.article.authorImg" class="stable">
					<span ng-if="vm.article.created_by_alias">
						By&nbsp;<span itemprop="author">{{ ::vm.article.created_by_alias }}</span>
					</span><br />
					<span ng-if="vm.article.issueplace">{{ ::vm.article.issueplace }},&nbsp;</span>
					<time datetime="{{ ::vm.article.created }}">{{ ::vm.article.created | date:'d MMM yyyy'}}</time>
				</h5>

				<article bind-html-compile="::vm.article.html" itemprop="articleBody"></article>

			
				
				<meta itemprop="mainEntityOfPage" content="{{ vm.canonical }}" />
				<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
					<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
				      <meta itemprop="url" content="http://www.itweb.co.za/templates/ja_itweb/images/itweb_logo_sml.png"/>
				      <meta itemprop="width" content="116"/>
				      <meta itemprop="height" content="49"/>
				    </span>
				    <meta itemprop="name" content="ITWeb Limited"/>
				</span>
				<meta itemprop="datePublished" content="{{ ::vm.article.created }}"/>
				<meta itemprop="dateModified" content="{{ ::vm.article.modified }}"/>
				<meta itemprop="keywords" content="{{ ::vm.article.metakey }}"/>

				<p>
					<a ng-if="vm.article.category" class="itw-bubble assertive"
			           ui-sref="app.category({ id: vm.article.category.id })"
			           style="display: inline-block; font-size: 14px; margin-bottom: 4px; padding: 4px 8px;">
			             {{ vm.article.category.title }}
			        </a>
			        <a ng-if="vm.article.location" class="itw-bubble assertive"
			           ui-sref="app.location({ id: vm.article.location.alias })"
			           style="display: inline-block; font-size: 14px; margin-bottom: 4px; padding: 4px 8px;">
			             {{ vm.article.location.title }}
			        </a>
			        <a ng-if="vm.article.company" class="itw-bubble assertive"
			           ui-sref="app.category({ id: vm.article.company.id })"
			           style="display: inline-block; font-size: 14px; margin-bottom: 4px; padding: 4px 8px;">
			             {{ vm.article.company.title }}
			        </a>
		        </p>				
			</main>
		
			<div class="item item-divider item-block" ng-if="vm.section && !vm.isPR">
            	<div adsrv what="recnoop-mobi" class="top"></div>
            </div>
			
			<ion-list ng-show="vm.article.urls.length" class="h3-list">
				<ion-item class="item-divider">
					<h3 class="itw-section stable">See also</h3>
				</ion-item>
				<ion-item class="item-icon-left item-icon-right"
					ng-repeat="(i, related) in vm.article.urls" ui-sref="app.article({ id: related.id })">
					<i class="icon icon-mini ion-document"></i>
					<h3>{{ ::related.title }}</h3>
					<i class="icon icon-mini ion-chevron-right"></i>
				</ion-item>
				<ion-item class="item-icon-left item-icon-right"
					ng-repeat="(i, topic) in vm.topics track by $index" ui-sref="app.topic({ q: topic })"
					ga-track-event="['article', 'tag', 'related', i]">
					<i class="icon icon-mini ion-bookmark"></i>
					<h3>{{ ::topic }}</h3>
					<i class="icon icon-mini ion-chevron-right"></i>
				</ion-item>
			</ion-list>

			<ion-list>
				<ion-item class="item-divider">
					&nbsp;
				</ion-item>
			</ion-list>

        </section>
	</ion-content>
</ion-view>
