<ion-view>
	<ion-nav-title>Login</ion-nav-title>
	
	<ion-content ng-class="{ 'has-subheader': 0 }" padding="1">
    	<form name="loginForm" ng-submit="false">
        	<div class="list list-inset">
			  <label class="item item-input" 
                ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.$submitted }"
                style="margin-bottom: 1px">
			    <i class="icon ion-at placeholder-icon"></i>
			    <input type="text" placeholder="Email or username" name="email" ng-model="vm.user.email" required>
			  </label>
			</div>
			<div class="list list-inset">
			  <label class="item item-input" 
                ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.$submitted }"
                style="margin-bottom: 1px">
			    <i class="icon ion-key placeholder-icon"></i>
			    <input type="password" placeholder="Password" name="password" ng-model="vm.user.password" required>
			  </label>
			</div>
			<button ng-click="vm.login(loginForm)" class="button button-block button-small button-clear button-assertive"
            ga-track-event="['user', 'login', 'itweb']">
            Log in
            <i class="icon ion-chevron-right"></i> 
            </button>
        </form>
        <div class="signup-or-separator">
            <h4 class="text">or</h4>
            <hr>
        </div>
        <button class="button button-block button-assertive button-clear button-small" ng-click="vm.authenticate('google')"
        ga-track-event="['user', 'login', 'google']">
          <i class="ion-social-googleplus"></i> Sign in with Google
        </button>
        <!-- <button class="button button-block button-positive button-clear button-small" ng-click="vm.authenticate('facebook')"
        ga-track-event="['user', 'login', 'facebook']">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button> -->
        
        <div class="signup-or-separator">
            <h4 class="text">or</h4>
            <hr>
        </div>
        <button class="button button-block button-clear button-small button-positive" ui-sref="app.user.signup"
        ga-track-event="['user', 'login', 'signup']">
          Create an account
          <i class="icon ion-chevron-right"></i> 
        </button>
	</ion-content>
</ion-view>