<ion-view hide-back-button="true">
    <ion-nav-title>My profile</ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-log-out" ng-click="vm.logout()"></button>
    </ion-nav-buttons>
    <ion-content style="background-color: #f5f5f5">
        <div class="list card" ng-show="vm.profile">

            <div class="item item-avatar">
                <img ng-src="{{vm.profile.image}}">
                <h2>{{ vm.profile.displayName }}</h2>
                <p>{{ vm.profile.username }}</p>
            </div>

            <section ng-if="!vm.profile.activated">
                <div class="item">
                    <h2 class="assertive"><i class="icon ion-alert-circled"></i> Your account is not yet active</h2>
                    <p>We sent you a confirmation email to verify <strong>{{ vm.profile.itweb.email }}</strong> belongs
                        to you.<br/>
                        Please check your email to activate your account.</p>
                </div>
                <label class="item">
                    <button class="button button-small button-balanced button-clear icon-left ion-at"
                            ng-click="vm.email()">
                        No email? Resend
                    </button>
                </label>
            </section>

            <section ng-if="!vm.cv.CVID">
                <label class="item item-icon-left item-icon-right" ui-sref="app.jobs.profile-1">
                        <i class="icon icon-midi ion-person stable"></i>
                        <h3 class="itw-section balanced" style="padding: 0">Create a CV</h3>
                        <p>Be discovered for career opportunities</p>
                        <i class="icon icon-midi ion-chevron-right balanced"></i>
                </label>
            </section>
        </div>

        <div class="list card" ng-if="vm.cv.CVID">
            <div class="item" style="padding-top: 18px">
                <div class="row">
                    <h2 class="col">My resume</h2>
                    <h2 class="col text-right energized">80%</h2>
                </div>
            </div>
                
            <label class="item item-icon-left item-icon-right" 
            ui-sref="app.jobs.profile-1">
                    <i class="icon icon-midi ion-person"></i>
                    <span>Personal details</span>
                    <i class="icon icon-midi" 
                    ng-class="{ 'balanced': vm.cv.AffirmativeActionCode, 
                        'ion-checkmark-round': vm.cv.AffirmativeActionCode, 
                        'ion-chevron-right': !vm.cv.AffirmativeActionCode }"></i>
            </label>
            <label class="item item-icon-left item-icon-right" 
            ui-sref="app.jobs.profile-2">
                    <i class="icon icon-midi ion-hammer"></i>
                    <span>Skills</span>
                    <i class="icon icon-midi" 
                    ng-class="{ 'balanced': vm.cv.skills.length, 
                    'ion-checkmark-round': vm.cv.skills.length, 
                    'ion-chevron-right': !vm.cv.skills.length }"></i>
            </label>
            <label class="item item-icon-left item-icon-right" 
            ui-sref="app.jobs.profile-3">
                    <i class="icon icon-midi ion-university"></i>
                    <span>Education</span>
                     <i class="icon icon-midi" 
                     ng-class="{ 'balanced': vm.cv.education.length,
                     'ion-checkmark-round': vm.cv.education.length, 'ion-chevron-right': !vm.cv.education.length }"></i>
            </label>
            <label class="item item-icon-left item-icon-right" 
            ui-sref="app.jobs.profile-4">
                    <i class="icon icon-midi ion-briefcase"></i>
                    <span>Work history</span>
                    <i class="icon icon-midi" 
                    ng-class="{ 'balanced': vm.cv.employment.length,
                    'ion-checkmark-round': vm.cv.employment.length, 'ion-chevron-right': !vm.cv.employment.length }"></i>
            </label>
            <label class="item item-icon-left item-icon-right" 
            ng-if="vm.cv.employment.length"
            ui-sref="app.jobs.profile-5">
                    <i class="icon icon-midi ion-heart"></i>
                    <span>Wishlist</span>
                    <i class="icon icon-midi icon-midi" 
                    ng-class="{ 'balanced': vm.cv.WishRemAmount,
                    'ion-checkmark-round': vm.cv.WishRemAmount, 'ion-chevron-right': !vm.cv.WishRemAmount }"></i>
            </label>
            <label class="item item-icon-left item-icon-right" 
            ui-sref="app.jobs.profile-6">
                    <i class="icon icon-midi ion-document"></i>
                    <span>Documents</span>
                    <i class="icon icon-midi" 
                    ng-class="{ 'balanced': vm.cv.document,
                    'ion-checkmark-round': vm.cv.document, 'ion-chevron-right': !vm.cv.document }"></i>
            </label>
        </div>

        <div class="list card" ng-show="vm.profile">
            <div class="item item-divider" style="padding-top: 18px">
                <h2 class="" ng-if="vm.profile.activated"><i class="ion-link"></i> Linked accounts</h2>
                <h2 class="" ng-if="!vm.profile.activated"><i class="ion-link"></i> OR</h2>
            </div>
            <div class="item" ng-if="!vm.profile.activated">
                <p>Link an account to provide us with a trusted email.</p>
            </div>

            <label class="item item-icon-left item-icon-right" 
            ng-if="vm.profile.google.email">
                    <i class="icon icon-midi ion-social-googleplus"></i>
                    <span>Google</span>
                    <i class="icon icon-midi ion-checkmark-round balanced"></i>
            </label>
            <ion-toggle class="item-icon-left" ng-if="!vm.profile.google.email">
                <i class="icon icon-midi ion-social-googleplus"></i>
                Google
            </ion-toggle>

            <label class="item item-icon-left item-icon-right item-balanced" 
                ng-if="vm.profile.facebook.email">
                    <i class="icon icon-midi ion-social-facebook"></i>
                    <span>Facebook</span>
                    <i class="icon icon-midi ion-checkmark-round"></i>
            </label>
            <ion-toggle class="item-icon-left" ng-if="!vm.profile.facebook.email">
                <i class="icon icon-midi ion-social-facebook"></i>
                Facebook
            </ion-toggle>
        </div>
    </ion-content>
</ion-view>