<ion-view view-title="{{ vm.category.title }}">
	

	<ion-nav-buttons side="right">
      <button class="button button-icon ion-android-search" 
                ng-click="vm.showSearchbar()"></button>
    </ion-nav-buttons>
	<ion-nav-buttons side="secondary">
      <md-menu style="padding: 0">
	      <button md-menu-origin class="button button-icon button-clear ion-android-more-vertical" ng-click="vm.openMenu($mdOpenMenu, $event)" style="width: 30px">
	      </button>
	      <md-menu-content width="3">
	        <md-menu-item>
	          <md-button>
	            Option 11
	          </md-button>
	        </md-menu-item>
	        <md-menu-item>
	          <md-button disabled="disabled">
	            Option 22
	          </md-button>
	        </md-menu-item>
	        <md-menu-divider></md-menu-divider>
	        <md-menu-item>
	          <md-button>
	            Another option
	          </md-button>
	        </md-menu-item>
	      </md-menu-content>
	    </md-menu>
    </ion-nav-buttons>
    <ion-content class="has-subheader" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    <ion-refresher
    on-refresh="vm.loadItems()">
  </ion-refresher>
    	<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading && !vm.items.length">
    		<h3 class="ng-hide text-center assertive" ng-cloak>Oops, something went wrong</h3>
    	</section>
    	<section ng-show="!vm.loading">
	    	<ion-list ng-show="vm.items.length">
	            <ion-item class="item-stable" ng-repeat="item in vm.items" ui-sref="app.article({ id: item.itemid })">
	                <h3 class="positive">{{ item.title }}</h3>
	                <img ng-src="{{ item.introtextData.img }}" ng-if="item.introtextData.img" style="float:right; margin: 5px 0 5px 5px;"/>
	                <p>{{ item.itext }}</p>
	                <div class="assertive">
	                	<i class="icon ion-ios-clock-outline" style="font-size: 16px; margin-top: 6px"></i> 
	                	<span style="font-size: 12px; line-height: 14px">{{ item.publishedDate | date:'medium' }}</span>
	                </div>
	            </ion-item>
	        </ion-list>
        </section>
	</ion-content>
</ion-view>