<ion-view view-title="Past events">
    
    <ion-content>
        <ion-list ng-show="vm.items.length">
    		<ion-item class="item-light item-thumbnail-left" ng-repeat="item in vm.items" ui-sref="app.event({ id: item.id })">
	                <img ng-src="{{item.img}}" ng-if="item.img" />
	                <h2>{{ item.title }}</h2>
	                <p ng-bind-html="item.summary"></p>
	                <div class="assertive">
	                	<i class="icon ion-music-note" style="font-size: 16px; position: relative; top: 1px"></i> 
	                	<span style="font-size: 12px; line-height: 14px">{{ item.n }} audio files</span>
	                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>