<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>Events</ion-nav-title>
    <ion-content>
        <ion-list>
            <div ng-repeat="category in vm.items">
        		<ion-item class="item-divider">
                    <h3 class="itw-section">{{ category.title }}</h3>
                </ion-item>
                <ion-item ng-repeat="event in category.items" ng-href="{{ event.url }}">
                    <h2>{{ event.title }}</h2>
                    <p>
                        Date: {{ event.displayDate }}<br />
                        Venue: {{ event.venue }}
                    </p>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
