<ion-view view-title="{{ vm.category.title }}">
    <ion-content ng-class="{ 'has-subheader': vm.categories.length }" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
        <section ng-show="vm.loading" class="text-center padding">
            <ion-spinner></ion-spinner>
        </section>
        <section ng-show="!vm.loading && !vm.items.length" class="padding">
            <h3 class="text-center assertive" ng-cloak>Oops, something went wrong</h3>
        </section>
        <section ng-show="!vm.loading">
            <ion-list ng-show="vm.items.length">
                <ion-item class="item-light" ng-repeat="item in vm.items" ui-sref="app.play({ id: item.v, title: item.title })">
                    <h3 class="itw-section stable">
                        {{ item.category }}
                    </h3>
                    <h2>{{ item.title }}</h2>
                    <img ng-src="http://www.itweb.co.za/jMediaDirect/videos/pics/small/{{ item.vid }}.jpg" ng-if="item.vid" style="float:right; margin: 4px 0 4px 4px; "/>
                    <p>{{ item.description }}</p>
                    <itw-timestamp timestamp="'{{ ::item.dateadded }}'" class="assertive"></itw-timestamp>
                </ion-item>
            </ion-list>
        </section>
    </ion-content>
</ion-view>