<ion-view view-title="{{ vm.category.title }}">
	<ion-nav-buttons side="right">
      <button class="button button-icon ion-android-search" 
                ng-click="vm.showSearchbar()"></button>
    </ion-nav-buttons>
	<ion-content ng-class="{ 'has-subheader': vm.categories.length }" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    	<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading && !vm.items.length" class="padding">
    		<h3 class="text-center assertive" ng-cloak>Oops, something went wrong</h3>
    	</section>
    	<section ng-show="!vm.loading">
	    	<ion-list ng-show="vm.items.length">
	            <ion-item class="item-light" ng-repeat="item in vm.items" href="{{ item.id }}">
	                <h2>{{ item.title }}</h2>
	                <p>{{ item.summary }}</p>
	                <div class="assertive">
	                	<i class="icon ion-ios-clock-outline" style="font-size: 16px; position: relative; top: 1px"></i> 
	                	<span style="font-size: 12px; line-height: 14px" am-time-ago="item.published"></span>
	                </div>
	            </ion-item>
	        </ion-list>
        </section>
	</ion-content>
</ion-view>