<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>{{ ::vm.category.title }}</ion-nav-title>
	
	<ion-nav-buttons side="right">
      <button class="button button-icon ion-grid" 
                ui-sref="app.sections" ng-if="vm.shortcuts.sections"
                ga-track-event="['section', 'sections', vm.analyticsEvent]"></button>
      <button class="button button-icon ion-cube" 
                ui-sref="app.office.vpo" ng-if="vm.shortcuts.companies"
                ga-track-event="['section', 'companies', vm.analyticsEvent]"></button>
    </ion-nav-buttons>

	<ion-content lazy-scroll ng-class="{ 'has-subheader': vm.hasSubheader }" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    	<section ng-show="!vm.loading">
	    	<ion-list ng-show="vm.items.length">
	    		<div ng-repeat="(i, item) in vm.items"> 
		    		<ion-item class="item-divider item-block" ng-if="i % 25 === 3">
		            	<div adsrv what="tophome-mobi"></div>
		            </ion-item>
		            <ion-item class="item-divider item-block" ng-if="i % 25 === 9">
		            	<div adsrv what="dbl1home-mobi"></div>
		            </ion-item>
		            <ion-item class="item-divider item-block" ng-if="i % 25 === 12">
		            	<div adsrv what="dbl2home-mobi" width="100%" class="top"></div>
		            </ion-item>
		            <ion-item class="item-divider item-block" ng-if="i % 25 === 18">
		            	<div adsrv what="rec1home-mobi" width="100%" class="top"></div>
		            </ion-item>
		            <ion-item class="item-divider item-block" ng-if="i % 25 === 24">
		            	<div adsrv what="rec2home-mobi" width="100%" class="top"></div>
		            </ion-item>
	    		    <ion-item  class="item-light" ng-include="'app/news/news.item.html'">
		            </ion-item>
	            </div>
	        </ion-list>
        </section>

        <ion-infinite-scroll
        	immediate-check="false"
        	ng-if="!vm.complete"
		    on-infinite="vm.loadItems()"
		    distance="5%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>