<ion-view>
	<ion-nav-title>{{ ::vm.category.title }}</ion-nav-title>
	<ion-nav-buttons side="right">
      
      <button class="button button-icon ion-grid" 
                ui-sref="app.portals" ng-if="vm.portalIcon"></button>
      <button class="button button-icon ion-cube" 
                ui-sref="app.office.vpo" ng-if="vm.companyIcon"></button>
                <button class="button button-icon ion-android-search" 
                ng-click="vm.showSearchbar()"></button>
    </ion-nav-buttons>
	<ion-content ng-class="{ 'has-subheader': vm.categories.length }" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    	<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading && !vm.items.length" class="padding">
    		<h3 class="text-center assertive" ng-cloak>Oops, something went wrong</h3>
    	</section>
    	<section ng-show="!vm.loading">
	    	<ion-list ng-show="vm.items.length">
    		    <ion-item ng-repeat="item in vm.items" class="item-light" >
		            <h3 class="itw-section stable" ng-if="item.topic">
                		{{ item.topic }}
	                </h3>
		            <a ui-sref="app.section({ id: item.section.id })" class="item-content" ng-if="item.section.id">
			            <h3 class="itw-section assertive">
	                		{{ item.section.title }}
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	                <a ng-href="http://www.itweb.co.za/office/{{ item.copyPath }}" class="item-content" ng-if="item.copyPath">
			            <h3 class="itw-section assertive">
	                		{{ item.company }}
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	                <a class="item-content" ui-sref="app.article({ id: item.itemid })">
		                <h2>{{ item.title }}</h2>
		                <img ng-src="{{ item.introtextImg }}" ng-if="item.introtextImg" style="float:right; margin: 4px 0 4px 4px; "/>
		                
		                <p>{{ item.blurb }}</p>
		                <p style="font-size: 12px; line-height: 14px">
		                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>

		                	<i class="icon ion-edit assertive" style="" ng-if="item.created_by_alias || item.issuedby"></i> 
		                	<span class="itw-author assertive" ng-if="item.created_by_alias">{{ item.created_by_alias }}</span>
		                	<span class="itw-author assertive" ng-if="item.issuedby && !item.created_by_alias">{{ item.issuedby }}</span>
		                </p>
	                </a>
	            </ion-item>
	        </ion-list>
        </section>
	</ion-content>
</ion-view>