<div class="item-content">
    <a ui-sref="app.article({ id: item.id })">
        <div class="news-img" ng-if="item.images.length">
            <img image-lazy-src="{{ item.images[0].url }}" width="100"  />
        </div>

        <h2>{{ item.title }}</h2>
    </a>

    <p>
        <itw-timestamp timestamp="'{{ item.created }}'" class="" style="font-size: 12px; display: inline-block"></itw-timestamp>
        <span style="display: inline-block">
        <a ng-if="item.category" class="itw-bubble assertive"
           ui-sref="app.category({ id: item.category.id })"
           style="display: inline-block;  font-size: 12px; margin-bottom: 4px; padding: 2px 4px;">
             {{ item.category.title }}
        </a>
        <a ng-if="item.location" class="itw-bubble assertive"
           ui-sref="app.location({ id: item.location.alias })"
           style="display: inline-block;  font-size: 12px; margin-bottom: 4px; padding: 2px 4px;">
             {{ item.location.title }}
        </a>
        <a ng-if="item.company" class="itw-bubble assertive"
           ui-sref="app.category({ id: item.company.id })"
           style="display: inline-block;  font-size: 12px; margin-bottom: 4px; padding: 2px 4px;">
             {{ item.company.title }}
        </a>
        </span>
    </p>
</div>