<ion-view>
    <ion-nav-title>Companies</ion-nav-title>
	<ion-content>
    
    	<section>
            <ion-list>
                <div class="post">
                    <ion-item class="item-divider">
                    Company zones
                    </ion-item>
                    <ion-item class="item-light item-icon-right" ng-repeat="(i, item) in vm.items.cz" ng-href="{{ item.link }}"
                    ga-track-event="['companies', 'office', vm.eventLabel(), i + 1]">
                        <h3 class="itw-section stable">{{ item.title }}</h3>
                        <i class="icon icon-midi ion-chevron-right"></i> 
                        </div>
                    </ion-item>
                    <ion-item class="item-divider">
                    Virtual press offices
                    </ion-item>
                    <ion-item class="item-light item-icon-right" ng-repeat="(i, item) in vm.items.vpo" ng-href="{{ item.link }}"
                    ga-track-event="['companies', 'office', vm.eventLabel(), i + 1]">
                        <h3 class="itw-section stable">{{ item.title }}</h3>
                        <i class="icon icon-midi ion-chevron-right"></i> 
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </section>
	</ion-content>
</ion-view>