<ion-view view-title="Companies">
	<ion-content ng-class="{ 'has-subheader': vm.categories.length }" on-swipe-right="vm.prev()" on-swipe-left="vm.next()">
    	<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading">
            <ion-list ng-show="vm.items.length">
                <div ng-repeat="(group, items) in vm.groups" class="post">
                    <ion-item itw-scroll class="item-divider" id="{{ group }}">
                    {{ group }}
                    </ion-item>
                    <ion-item class="item-light item-icon-right" ng-repeat="(i, item) in items" ng-href="{{ item.url }}"
                    ga-track-event="['companies', 'office', vm.eventLabel(), i + 1]">
                        <div class="row">
                            <div class="col col-33 col-center text-center">
                                <img ng-src="{{ item.image }}" />
                            </div>
                            <div class="col col-center col-offset-10">
                                <h3 class="itw-section stable">{{ item.title }}</h3>
                            </div>
                        <i class="icon icon-midi ion-chevron-right"></i> 
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </section>
	</ion-content>
</ion-view>