<ion-view>
	<ion-nav-title>
		<span ng-include="'images/itweb_logo_onred.svg'"></span>
	</ion-nav-title>
	<ion-content>
    	<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading && !vm.lead && !vm.items.length" class="padding">
    		<h3 class="text-center assertive" ng-cloak>Oops, something went wrong</h3>
    	</section>
    	<section ng-show="!vm.loading">
	    	<ion-list ng-if="vm.lead || vm.items.length">
	    		<ion-item class="item-light" ui-sref="app.article({ id: item.itemid })" ng-init="item = vm.lead" ng-if="vm.lead">
	                <div class="pic">
    				<img ng-src="{{ item.module.img }}" style="min-width: 100%; max-height: 281px;">
    				<p class="pic-caption" style="background: #626262;color:#eee;font-weight: 500;padding: 0 4px;margin-top: -5px">
    					{{ item.module.caption }}
    				</p>
    				</div>
	                <h1 class="assertive" style="margin: 10px 0 4px 0">{{ item.title }}</h1>
	                <p>{{ item.blurb }}</p>
	                <p style="font-size: 12px; line-height: 14px">
	                	<itw-timestamp timestamp="'{{ ::item.created }}'"></itw-timestamp>

	                	<i class="icon ion-edit assertive" style="" ng-if="item.created_by_alias || item.issuedby"></i> 
	                	<span class="itw-author assertive" ng-if="item.created_by_alias">{{ item.created_by_alias }}</span>
	                	<span class="itw-author assertive" ng-if="item.issuedby && !item.created_by_alias">{{ item.issuedby }}</span>
	                </p>
	            </ion-item>
	            <ion-item class="item-light" ng-repeat="item in vm.groups.top" ui-sref="app.article({ id: item.itemid })">
	                <h2>{{ item.title }}</h2>
	                <img ng-src="{{ item.introtextData.img }}" ng-if="item.introtextData.img" style="float:right; margin: 4px 0 4px 4px; "/>
	                <p>{{ item.blurb }}</p>
	                <p style="font-size: 12px; line-height: 14px">
	                	<itw-timestamp timestamp="'{{ ::item.created }}'"></itw-timestamp>

	                	<i class="icon ion-edit assertive" style="" ng-if="item.created_by_alias || item.issuedby"></i> 
	                	<span class="itw-author assertive" ng-if="item.created_by_alias">{{ item.created_by_alias }}</span>
	                	<span class="itw-author assertive" ng-if="item.issuedby && !item.created_by_alias">{{ item.issuedby }}</span>
	                </p>
	            </ion-item>

	            <!-- more news -->
	            <ion-item class="item-divider" ng-if="vm.groups.industry.length" style="margin-bottom: 1px;" nav-clear>
	            	<a ui-sref="app.news.category({ id: 'industry-news' })" class="item-content">
			            <h3 class="itw-section assertive">
	                		Industry news
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	            </ion-item>
	            <ion-item class="item-light" ng-repeat="(i, item) in vm.groups.industry"
	            style="border-width: 0">
		            <a ui-sref="app.article({ id: item.itemid })" class="item-content">
		                <h3>{{ item.title }}</h3>
		                <p>
	                		<itw-timestamp timestamp="'{{ ::item.created }}'"></itw-timestamp>
	                	</p>
	                </a>

	            </ion-item>

	            <!-- reuters -->
	            <ion-item class="item-divider" ng-if="vm.groups.reuters.length" style="margin-bottom: 1px;">
	            	<a ui-sref="app.news.category({ id: 'world' })" class="item-content">
			            <h3 class="itw-section assertive">
	                		Reuters
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	            </ion-item>
	            <ion-item class="item-light" ng-repeat="(i, item) in vm.groups.reuters" 
	            style="border-width: 0">
		            <a ui-sref="app.article({ id: item.itemid })" class="item-content">
		                <h3>{{ item.title }}</h3>
		                <p>
	                		<itw-timestamp timestamp="'{{ ::item.created }}'"></itw-timestamp>
	                	</p>
	                </a>
	            </ion-item>
	            
	            <!-- company news -->
	            <ion-item class="item-divider" ng-if="vm.groups.company.length">
	            	<a ui-sref="app.news.category({ id: 'company-news' })" class="item-content">
			            <h3 class="itw-section assertive">
	                		Company news
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	            </ion-item>
	            <ion-item class="item-light" ng-repeat="(i, item) in vm.groups.company">
	                <a ng-href="http://www.itweb.co.za/office/{{ item.copyPath }}" class="item-content" ng-if="item.copyPath">
			            <h3 class="itw-section assertive">
	                		{{ item.company }}
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	                <a class="item-content" ui-sref="app.article({ id: item.itemid })">
		                <h2>{{ item.title }}</h2>
		                <img ng-src="{{ item.introtextImg }}" ng-if="item.introtextImg" style="float:right; margin: 4px 0 4px 4px; "/>
		                
		                <p>{{ item.blurb }}</p>
		                <p style="font-size: 12px; line-height: 14px">
		                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>

		                	<i class="icon ion-edit assertive" style="" ng-if="item.created_by_alias || item.issuedby"></i> 
		                	<span class="itw-author assertive" ng-if="item.created_by_alias">{{ item.created_by_alias }}</span>
		                	<span class="itw-author assertive" ng-if="item.issuedby && !item.created_by_alias">{{ item.issuedby }}</span>
		                </p>
	                </a>
	            </ion-item>

	            <!-- columnists -->
	            <ion-item class="item-divider" ng-if="vm.groups.columnists.length">
	            	<a ui-sref="app.opinion.category({ id: 'columnists' })" class="item-content">
			            <h3 class="itw-section assertive">
	                		Columnists
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	            </ion-item>
	            <ion-item ng-repeat="(i, item) in vm.groups.columnists" class="item-light">
		            <h3 class="itw-section stable" ng-if="item.topic">
                		{{ item.topic }}
	                </h3>
	                <a class="item-content" ui-sref="app.article({ id: item.itemid })">
		                <h2>{{ item.title }}</h2>
		                <img ng-src="{{ item.introtextImg }}" ng-if="item.introtextImg" style="float:right; margin: 4px 0 4px 4px; width: 100px"/>
		                
		                <p>{{ item.blurb }}</p>
		                <p style="font-size: 12px; line-height: 14px">
		                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>

		                	<i class="icon ion-edit assertive" style="" ng-if="item.created_by_alias || item.issuedby"></i> 
		                	<span class="itw-author assertive" ng-if="item.created_by_alias">{{ item.created_by_alias }}</span>
		                	<span class="itw-author assertive" ng-if="item.issuedby && !item.created_by_alias">{{ item.issuedby }}</span>
		                </p>
	                </a>
	            </ion-item>

	            <!-- industry-insight -->
	            <ion-item class="item-divider" ng-if="vm.groups.insights.length">
	            	<a ui-sref="app.opinion.category({ id: 'industry-insight' })" class="item-content">
			            <h3 class="itw-section assertive">
	                		Industry insight
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	            </ion-item>
	            <ion-item ng-repeat="(i, item) in vm.groups.insights" class="item-light">
		            <h3 class="itw-section stable" ng-if="item.topic">
                		{{ item.topic }}
	                </h3>
	                <a class="item-content" ui-sref="app.article({ id: item.itemid })">
		                <h2>{{ item.title }}</h2>
		                <img ng-src="{{ item.introtextImg }}" ng-if="item.introtextImg" style="float:right; margin: 4px 0 4px 4px; width: 100px"/>
		                
		                <p>{{ item.blurb }}</p>
		                <p style="font-size: 12px; line-height: 14px">
		                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>

		                	<i class="icon ion-edit assertive" style="" ng-if="item.created_by_alias || item.issuedby"></i> 
		                	<span class="itw-author assertive" ng-if="item.created_by_alias">{{ item.created_by_alias }}</span>
		                	<span class="itw-author assertive" ng-if="item.issuedby && !item.created_by_alias">{{ item.issuedby }}</span>
		                </p>
	                </a>
	            </ion-item>

	            <!-- features -->
	            <ion-item class="item-divider" ng-if="vm.groups.features.length">
	            	<a ui-sref="app.features" class="item-content">
			            <h3 class="itw-section assertive">
	                		Features
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	            </ion-item>
	            <ion-item ng-repeat="(i, item) in vm.groups.features" class="item-light">
		            <h3 class="itw-section stable" ng-if="item.topic">
                		{{ item.topic }}
	                </h3>
	                <a class="item-content" ui-sref="app.article({ id: item.itemid })">
		                <h2>{{ item.title }}</h2>
		                <img ng-src="{{ item.introtextImg }}" ng-if="item.introtextImg" style="float:right; margin: 4px 0 4px 4px; width: 100px"/>
		                
		                <p>{{ item.blurb }}</p>
		                <p style="font-size: 12px; line-height: 14px">
		                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>

		                	<i class="icon ion-edit assertive" style="" ng-if="item.created_by_alias || item.issuedby"></i> 
		                	<span class="itw-author assertive" ng-if="item.created_by_alias">{{ item.created_by_alias }}</span>
		                	<span class="itw-author assertive" ng-if="item.issuedby && !item.created_by_alias">{{ item.issuedby }}</span>
		                </p>
	                </a>
	            </ion-item>

	            <!-- international -->
				<ion-item class="item-divider" ng-if="vm.groups.international.length" style="margin-bottom: 1px;">
	            	<a ui-sref="app.news.category({ id: 'world' })" class="item-content">
			            <h3 class="itw-section assertive">
	                		International
	                		<i class="icon ion-chevron-right"></i> 
		                </h3>
	                </a>
	            </ion-item>
	            <ion-item class="item-light" ng-repeat="(i, item) in vm.groups.international" 
	            style="border-width: 0">
		            <a ui-sref="app.article({ id: item.itemid })" class="item-content">
		                <h3>{{ item.title }}</h3>
	                </a>
	            </ion-item>
	        </ion-list>
        </section>
	</ion-content>
</ion-view>