<ion-view>
	<ion-nav-title>
		<span ng-include="'images/itweb_logo_onred.svg'"></span>
	</ion-nav-title>
	<ion-content>
    	<section ng-show="vm.loading" class="text-center padding">
    		<ion-spinner></ion-spinner>
    	</section>
    	<section ng-show="!vm.loading && !vm.leads.length && !vm.items.length" class="padding">
    		<h3 class="text-center assertive" ng-cloak>Oops, something went wrong</h3>
    	</section>
    	<section ng-show="!vm.loading">
	    	<ion-list ng-if="vm.leads.length">
	    		<div ng-repeat="(i, day) in vm.days">
	    			<ion-item class="item-divider item-dark" ng-if="day.displayDate && i">
		            	<h2 class="light" style="padding-top: 12px;">{{ day.displayDate | date:'EEE, dd MMM' }}</h2>
		            </ion-item>

		    		<ion-item class="item-light" ui-sref="app.article({ id: item.itemid, catid: item.section.id })" 
		    		ng-init="item = vm.leads[i]" ng-if="vm.leads[i]" ga-track-event="['frontpage/lead', 'article', item.slug, i + 1]">
		                <div class="pic responsive-pic">
		    				<img ng-src="{{ item.module.img }}">
	    				</div>
		                <h1 style="margin: 10px 0 0 0; font-size: 30px;">{{ item.title }}</h1>
		            </ion-item>
		            
		            <ion-item class="item-divider" ng-if="day.length" style="padding-left: 0; padding-right: 0">
		            	<div adsrv what="mobile-leaderboard" class="top"></div>
		            </ion-item>

		            <ion-item class="item-light" ng-repeat="(j, item) in day.groups.top">
		            <div class="item-content">
					    <a ui-sref="app.article({ id: item.itemid, catid: item.section.id })"
					     ga-track-event="['frontpage/top-news', 'article', item.slug, j + 1]">
					        <div class="news-img" ng-if="item.introtextImg">
					        	<img ng-src="{{ item.introtextImg }}"  />
					        </div>
					        <h3 class="itw-section stable" ng-if="item.topic">
					    		{{ item.topic }}
					        </h3>
					        <h2>{{ item.title }}</h2>
					    </a>

					    <p>
					    	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>
					    	
					    	<a ng-if="item.section.id" class="assertive" 
					        ui-sref="app.section({ id: item.section.id })"
					        ga-track-event="['frontpage/top-news', 'section', item.section.slug, j + 1]">
					        	<span class="stable">|</span> {{ item.section.title }}
					        </a>
					    </p>
					</div>
		            </ion-item>

		            <ion-item class="item-divider" ng-if="day.length" style="padding-left: 0; padding-right: 0">
		            	<div adsrv what="mobile-leaderboard-xx" class="top"></div>
		            </ion-item>

		            <!-- more news -->
		            <ion-item class="item-divider" ng-if="day.groups.industry.length" nav-clear>
		            	<a ui-sref="app.news.category({ id: 'industry-news' })" class="item-content"
		            	ga-track-event="['frontpage/industry-news', 'section', 'industry-news', i + 1]">
				            <h3 class="itw-section assertive">
		                		Industry news
		                		<i class="icon ion-chevron-right"></i> 
			                </h3>
		                </a>
		            </ion-item>
		            <ion-item class="item-light" ng-repeat="(j, item) in day.groups.industry">
			            <a ui-sref="app.article({ id: item.itemid })" class="item-content"
			            ga-track-event="['frontpage/industry-news', 'article', item.slug, j + 1]">
			                <h3>{{ ::item.title }}</h3>
		                </a>
		            </ion-item>

		            <!-- reuters -->
		            <ion-item class="item-divider" ng-if="day.groups.reuters.length">
		            	<a ui-sref="app.news.category({ id: 'world' })" class="item-content"
		            	ga-track-event="['frontpage/reuters', 'section', 'reuters']">
				            <h3 class="itw-section assertive">
		                		Reuters
		                		<i class="icon ion-chevron-right"></i> 
			                </h3>
		                </a>
		            </ion-item>
		            <ion-item class="item-light" ng-repeat="(j, item) in day.groups.reuters">
			            <a ui-sref="app.article({ id: item.itemid })" class="item-content"
			            ga-track-event="['frontpage/reuters', 'article', item.slug, j + 1]">
			                <h3>{{ ::item.title }}</h3>
		                </a>
		            </ion-item>

		            <ion-item class="item-divider" ng-if="day.length" style="padding-left: 0; padding-right: 0">
		            	<div adsrv what="mobile-leaderboard-xx" class="top"></div>
		            </ion-item>

					<!-- company news -->
		            <ion-item class="item-divider" ng-if="day.groups.company.length">
		            	<a ui-sref="app.news.category({ id: 'company-news' })" class="item-content"
		            	ga-track-event="['frontpage/company-news', 'section', 'company-news', i + 1]">
				            <h3 class="itw-section assertive">
		                		Company news
		                		<i class="icon ion-chevron-right"></i> 
			                </h3>
		                </a>
		            </ion-item>
		            <ion-item class="item-light" ng-repeat="(j, item) in day.groups.company">
		            	<div class="item-content">
						    <a ui-sref="app.article({ id: item.itemid, catid: item.section.id })" 
						    ga-track-event="['frontpage/company-news', 'article', item.slug, j + 1]">
						        <div class="news-img" ng-if="item.introtextImg">
						        	<img ng-src="{{ item.introtextImg }}"  />
						        </div>
						        <h3 class="itw-section stable" ng-if="item.topic">
						    		{{ item.topic }}
						        </h3>
						        <h2>{{ item.title }}</h2>
						    </a>

						    <p>
						    	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>
						    	
						    	<a ng-if="item.copyPath" class="assertive" ng-href="http://www.itweb.co.za/office/{{ item.copyPath }}" 
						    	ga-track-event="['frontpage/company-news', 'office', item.copyPath, j + 1]">
						        	<span class="stable">|</span> {{ item.company }}
						        </a>
						    </p>
						</div>
					</ion-item>

		            <ion-item class="item-divider" ng-if="day.length">
		            	<div adsrv what="trigg3home" width="100%" class="top"></div>
		            </ion-item>

		            <ion-item class="item-divider" ng-show="vm.quotes[i] && day.length">
		            	<h3 class="itw-section stable">
	                		Quote of the day
		                </h3>
		            </ion-item>
		            <ion-item ng-show="vm.quotes[i] && day.length">
		                <blockquote class="quote-of-the-day">
			                <h2>{{ ::vm.quotes[i].module.title }}</h2>
			                <p class="body">{{ ::vm.quotes[i].module.body }}</p>
			                <p class="caption"> &ndash; {{ ::vm.quotes[i].module.caption }}</p>
		                </blockquote>
		            </ion-item>	            
		            
		            <!-- columnists -->
		            <ion-item class="item-divider" ng-if="day.groups.columnists.length">
		            	<a ui-sref="app.opinion.category({ id: 'columnists' })" class="item-content"
		            	ga-track-event="['frontpage/columnists', 'section', 'columnists', i + 1]">
				            <h3 class="itw-section assertive">
		                		Columnists
		                		<i class="icon ion-chevron-right"></i> 
			                </h3>
		                </a>
		            </ion-item>
		            <ion-item ng-repeat="(j, item) in day.groups.columnists" class="item-light">
			            <div class="item-content">
			                <a ui-sref="app.article({ id: item.itemid, catid: item.section.id })" 
			                ga-track-event="['frontpage/columnists', 'article', item.slug, j + 1]">
				                <div class="news-img" ng-if="item.introtextImg">
				                	<img ng-src="{{ ::item.introtextImg }}"  />
				                </div>
				                <h3 class="itw-section stable" ng-if="item.topic">
			                		{{ item.topic }}
				                </h3>
				                <h2>{{ item.title }}</h2>
				            </a>
			            
			                <p>
			                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>
			                	
			                	<span class="assertive" ng-if="item.topic">
			                		<span class="stable">|</span> {{ item.created_by_alias }}
				                </span>
			                </p>
		                </div>    
		            </ion-item>

		            <!-- industry-insight -->
		            <ion-item class="item-divider" ng-if="day.groups.insights.length">
		            	<a ui-sref="app.opinion.category({ id: 'industry-insight' })" class="item-content"
		            	ga-track-event="['frontpage/industry-insight', 'section', 'industry-insight', i + 1]">
				            <h3 class="itw-section assertive">
		                		Industry insight
		                		<i class="icon ion-chevron-right"></i> 
			                </h3>
		                </a>
		            </ion-item>
		            <ion-item ng-repeat="(i, item) in day.groups.insights" class="item-light">
			            <div class="item-content">
			                <a ui-sref="app.article({ id: item.itemid, catid: item.section.id })"
			                ga-track-event="['frontpage/industry-insight', 'article', item.slug, j + 1]">
				                <div class="news-img" ng-if="item.introtextImg">
				                	<img ng-src="{{ ::item.introtextImg }}"  />
				                </div>
				                <h3 class="itw-section stable" ng-if="item.topic">
			                		{{ item.topic }}
				                </h3>
				                <h2>{{ item.title }}</h2>
				            </a>
			            
			                <p>
			                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>
			                	
			                	<span class="assertive" ng-if="item.topic">
			                		<span class="stable">|</span> {{ item.created_by_alias }}
				                </span>
			                </p>
		                </div> 
		            </ion-item>

		            <!-- features -->
		            <ion-item class="item-divider" ng-if="day.groups.features.length">
		            	<a ui-sref="app.features" class="item-content"
		            	ga-track-event="['frontpage/features', 'section', 'features', i + 1]">
				            <h3 class="itw-section assertive">
		                		Features
		                		<i class="icon ion-chevron-right"></i> 
			                </h3>
		                </a>
		            </ion-item>
		            <ion-item ng-repeat="(j, item) in day.groups.features" class="item-light">
			            <div class="item-content">
			                <a ui-sref="app.article({ id: item.itemid, catid: item.section.id })"
			                ga-track-event="['frontpage/features', 'article', item.slug, j + 1]">
				                <div class="news-img" ng-if="item.introtextImg">
				                	<img ng-src="{{ ::item.introtextImg }}"  />
				                </div>
				                <h3 class="itw-section stable" ng-if="item.topic">
			                		{{ item.topic }}
				                </h3>
				                <h2>{{ item.title }}</h2>
				            </a>
			            
			                <p>
			                	<itw-timestamp timestamp="'{{ item.created }}'"></itw-timestamp>
			                	
			                	<span class="assertive" ng-if="item.topic">
			                		<span class="stable">|</span> {{ item.created_by_alias }}
				                </span>
			                </p>
		                </div> 
		            </ion-item>

		            <ion-item class="item-divider" ng-if="day.length">
		            	<div adsrv what="mobile-square" class="top"></div>
		            </ion-item>

		            <ion-item class="item-divider" ng-show="vm.pics[i] && day.length">
		            	<h3 class="itw-section stable">
	                		Pic of the day
		                </h3>
		            </ion-item>
		            <ion-item ng-show="vm.pics[i] && day.length">
		            	<div class="pic responsive-pic">
		                	<img ng-src="{{ vm.pics[i].module.img }}" />
		                </div>
		                <h2>{{ vm.pics[i].module.title }}</h2>
		                <p>{{ vm.pics[i].module.body }}</p>
		                <p class="caption"> &ndash; <span ng-bind-html="vm.pics[i].module.caption"></span></p>
		            </ion-item>

		            <!-- international -->
					<ion-item class="item-divider" ng-if="day.groups.international.length">
		            	<a ui-sref="app.section({ id: 74 })" class="item-content"
		            	ga-track-event="['frontpage/international', 'section', '74:business-wire', i + 1]">
				            <h3 class="itw-section assertive">
		                		International
		                		<i class="icon ion-chevron-right"></i> 
			                </h3>
		                </a>
		            </ion-item>
		            <ion-item class="item-light" ng-repeat="(j, item) in day.groups.international">
			            <a ui-sref="app.article({ id: item.itemid })" class="item-content"
			            ga-track-event="['frontpage/international', 'article', item.slug, j + 1]">
			                <h3>{{ item.title }}</h3>
		                </a>
		            </ion-item>
	            </div>
	        </ion-list>

	        <ion-infinite-scroll
	        	immediate-check="false"
	        	ng-if="!vm.complete"
			    on-infinite="vm.next()"
			    distance="1%">
			</ion-infinite-scroll>
        </section>
	</ion-content>
</ion-view>