<ion-view>
    <ion-nav-title>
        <span ng-include="'images/itweb_logo_onred.svg'"></span>
    </ion-nav-title>
    <ion-content class="has-subheader">
        <div class="list list-inset" style="margin-top: 10px">
            <div class="item item-image">
                <img src="http://www.itweb.co.za/images/stories/about/itweb-media.jpg"
                     style="width: auto; height: 200px"/>
            </div>
            <div class="item">
                <h1 class="assertive" style="font-size: 24px;">The business technology media company</h1>
                <p>A vital resource for South African ICT decision-makers, ITWeb delivers news, views and information
                    through diverse content platforms, including online, e-newsletters, social media, print and events.
                    ITWeb is recognised as South Africa's technology news and information leader.</p>
            </div>

            <div ng-repeat="group in vm.groups">
                <div class="item item-divider">
                    <h3 class="itw-section">{{ group.title }}</h3>
                </div>

                <div ng-repeat="item in group.items">
                    <div class="item item-icon-right"
                         ng-click="item.active = !item.active"
                         ng-class="{active: item.active }">

                        {{ item.title }}

                        <i class="icon icon-mini"
                           ng-class="item.active ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                    </div>

                    <div class="item"
                         ng-show="item.active"
                         ng-include="item.templateUrl">
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>
        </div>
    </ion-content>
</ion-view>
